<app-header-one></app-header-one>
<!-- Start Subheader -->
<div class="normal-bg subheader" style="background: linear-gradient(
    96.87deg
    ,#2c73d6,#2365bd);">
    
     
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="subheader-content">
                    <h1 class="page-title text-custom-white fw-600">Let's work together.</h1>
                    <h2 style="color: white;">And build impactful software.</h2>
                    
                    <ul class="custom-flex breadcrumb">
                        

                    </ul>
                </div>
            </div>
        </div>
    </div>
  
</div>
<section class="section-padding-bottom">
    <div class="top-about-sec">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <!-- <div class="about-wrap-box">
                        <div class="row no-gutters">
                            <div class="col-lg-4"> -->
                                <div class="left-side full-height">
                                    <img src="assets/images/group-image.png" class="image-fit1" alt="">
                                    <!-- <img src="assets/images/blackpeople.jpg" class="imgb" alt=""> -->
                                <!-- </div>
                            </div>
                                               
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

   
   
   
</section>
<!-- <div class="cont">  <img src="assets/images/carrer.png" class="image1 " alt=""></div> -->

<!-- End Subheader -->
<!-- Start Careers -->
<!-- <section class="section-padding career-sec">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="table-responsive careers-table">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td>
                                    <div class="icon">
                                        <i class="fab fa-react"></i>
                                    </div>
                                </td>
                                <td>
                                    <div class="box_cnt">
                                        <h2 class="font-bd">React Native Developer</h2>
                                        <p class="mb-0 font-md">We are looking for React Native Developer with minimum of 0-2 years of experience.

                                        </p>
                                    </div>
                                </td>
                                 <td>
                                    <a href="#" class="theme-btn btn-white-orange">
                                        Apply Now
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="icon">
                                        <i class="fas fa-lightbulb-on"></i>
                                    </div>
                                </td>
                                <td>
                                    <div class="box_cnt">
                                        <h2 class="font-bd">Business Development Executive</h2>
                                        <p class="mb-0 font-md">We are looking for performers with minimum 2-5 years of experience in online bidding



                                        </p>
                                    </div>
                                </td>
                                <td>
                                    <a href="#" class="theme-btn btn-light-2">
                                        Apply Now
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="icon">
                                        <i class="far fa-laptop-code"></i>
                                    </div>
                                </td>
                                <td>
                                    <div class="box_cnt">
                                        <h2 class="font-bd">Senior PHP Developer</h2>
                                        <p class="mb-0 font-md">We are looking for php expert with 3-7 years of experience in php

                                            
                                 </p>
                                    </div>
                                </td>
                                <td>
                                    <a href="#" class="theme-btn btn-white-orange">
                                        Apply Now
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="icon">
                                        <i class="fab fa-android"></i>
                                    </div>
                                </td>
                                <td>
                                    <div class="box_cnt">
                                        <h2 class="font-bd">
                                            Android Developer</h2>
                                        <p class="mb-0 font-md"> We are looking for performers with 1-5 years of experience as Android Developer

                                        </p>
                                    </div>
                                </td>
                                <td>
                                    <a href="#" class="theme-btn btn-light-2">
                                        Apply Now
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="icon">
                                        <i class="fab fa-apple"></i>
                                    </div>
                                </td>
                                <td>
                                     <div class="box_cnt">
                                        <h2 class="font-bd">
                                            iOS Developer</h2>
                                        <p class="mb-0 font-md"> 
                                            We are looking for performers with 1-5 years of experience in iOS Development
                                         </p>
                                    </div>
                                </td>
                               
                                <td>
                                    <a href="#" class="theme-btn btn-white-orange">
                                        Apply Now
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="icon">
                                        <i class="far fa-palette"></i>
                                    </div>
                                </td>
                                <div class="box_cnt">
                                    <h2 class="font-bd">
                                        Senior Web UI/UX Designer</h2>
                                    <p class="mb-0 font-md"> 
                                        We are looking for performers with minimum 1-5 years of experience
                                     </p>
                                </div>
                                <td>
                                    <a href="#" class="theme-btn btn-light-2">
                                        Apply Now
                                    </a>
                                </td>
                            </tr>
                          
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section> -->

<!-- End Careers -->

<div class="heading" >
    <br>
    <br>

    <h6>Current <strong> Openings</strong></h6>
    <p class="span"><span class="red"></span><span class="black"></span></p>
    </div>

<section class="section-padding bg-light-white" style="margin-top: -10%;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="shop-tabs">
                    <ul class="custom-flex nav nav-tabs">
                        <li class="nav-item">
                            <a href="#description" class="nav-link active" data-toggle="tab">
                                INDIA</a>
                        </li>
                        <li class="nav-item">
                            <a href="#add-info" class="nav-link" data-toggle="tab">UK</a>
                        </li>
                       
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade active show" id="description">
                            <div class="tab-inner">
                              
                                        <div class="table-responsive careers-table">
                                            <table class="table table-striped">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <div class="icon">
                                                                <i class="fab fa-react"></i>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="box_cnt">
                                                                <h2 class="font-bd">React Native Developer</h2>
                                                                <p class="mb-0 font-md">We are looking for React Native Developer with minimum of 0-2 years of experience.
                        
                                                                </p>
                                                            </div>
                                                        </td>
                                                         <td>
                                                            <!-- <a href="/ReactNativeDeveloperComponent" class="theme-btn btn-white-orange">
                                                                Apply Now
                                                            </a> -->
                                                            <a routerLink='/ReactNativeDeveloperComponent' routerLinkActive="active" class="theme-btn btn-white-orange"
                                                            [routerLinkActiveOptions]="{exact: true}">Apply Now</a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="icon">
                                                                <i class="fas fa-lightbulb-on"></i>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="box_cnt">
                                                                <h2 class="font-bd">Business Development Executive</h2>
                                                                <p class="mb-0 font-md">We are looking for performers with minimum 2-5 years of experience in online bidding
                        
                                                                  
                        
                                                                </p>
                                                            </div>
                                                        </td>
                                                        <td>

                                                            <a routerLink='/BuisnessDevelopmentExecutiveComponent' routerLinkActive="active" class="theme-btn btn-white-orange"
                                                            [routerLinkActiveOptions]="{exact: true}">Apply Now</a>
                                                           
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="icon">
                                                                <i class="far fa-laptop-code"></i>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="box_cnt">
                                                                <h2 class="font-bd">Senior PHP Developer</h2>
                                                                <p class="mb-0 font-md">We are looking for php expert with 3-7 years of experience in php
                                                                   
                                                                    
                                                         </p>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <a routerLink='/PhpDeveloperComponent' routerLinkActive="active" class="theme-btn btn-white-orange"
                                                            [routerLinkActiveOptions]="{exact: true}">Apply Now</a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="icon">
                                                                <i class="fab fa-android"></i>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="box_cnt">
                                                                <h2 class="font-bd">
                                                                    Android Developer</h2>
                                                                <p class="mb-0 font-md"> We are looking for performers with 1-5 years of experience as Android Developer
                                                                   
                                                                </p>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <a routerLink='/AndroidDeveloperComponent' routerLinkActive="active" class="theme-btn btn-white-orange"
                                                            [routerLinkActiveOptions]="{exact: true}">Apply Now</a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="icon">
                                                                <i class="fab fa-apple"></i>
                                                            </div>
                                                        </td>
                                                        <td>
                                                             <div class="box_cnt">
                                                                <h2 class="font-bd">
                                                                    iOS Developer</h2>
                                                                <p class="mb-0 font-md"> 
                                                                    We are looking for performers with 1-5 years of experience in iOS Development
                                                                 </p>
                                                            </div>
                                                        </td>
                                                       
                                                        <td>
                                                            <a routerLink='/IosDeveloperComponent' routerLinkActive="active" class="theme-btn btn-white-orange"
                                                            [routerLinkActiveOptions]="{exact: true}">Apply Now</a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="icon">
                                                                <i class="far fa-palette"></i>
                                                            </div>
                                                        </td>
                                                        <div class="box_cnt">
                                                            <h2 class="font-bd">
                                                                Senior Web UI/UX Designer</h2>
                                                            <p class="mb-0 font-md"> 
                                                                We are looking for performers with minimum 1-5 years of experience
                                                             </p>
                                                        </div>
                                                        <td>
                                                            <a routerLink='/UiUxDesignerComponent' routerLinkActive="active" class="theme-btn btn-white-orange"
                                                            [routerLinkActiveOptions]="{exact: true}">Apply Now</a>
                                                        </td>
                                                    </tr>
                                                  
                                                </tbody>
                                            </table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="add-info">
                            <div class="tab-inner">
                                <!-- <div class="table-responsive shop-table">
                                    <table class="table no-margin">
                                        <tbody>
                                            <tr>
                                                <td>Model</td>
                                                <td>Microsoft Surface Pro 6</td>
                                            </tr>
                                            <tr>
                                                <td>Processor Brand</td>
                                                <td>Intel</td>
                                            </tr>
                                            <tr>
                                                <td>Processor Type</td>
                                                <td>Core i7</td>
                                            </tr>
                                            <tr>
                                                <td>Generation</td>
                                                <td>8th</td>
                                            </tr>
                                            <tr>
                                                <td>Processor Model</td>
                                                <td>Intel Core i7 8650U</td>
                                            </tr>
                                            <tr>
                                                <td>Processor Clock Speed</td>
                                                <td>1.90-4.20GHz</td>
                                            </tr>
                                            <tr>
                                                <td>CPU Cache</td>
                                                <td>8MB</td>
                                            </tr>
                                            <tr>
                                                <td>RAM</td>
                                                <td>8GB</td>
                                            </tr>
                                            <tr>
                                                <td>Storage</td>
                                                <td>256GB SSD</td>
                                            </tr>
                                            <tr>
                                                <td>Display Size (Inch)</td>
                                                <td>12.3</td>
                                            </tr>
                                            <tr>
                                                <td>Display Type</td>
                                                <td>PixelSense Touch</td>
                                            </tr>
                                            <tr>
                                                <td>Display Resolution</td>
                                                <td>2736x1824 (WxH)</td>
                                            </tr>
                                            <tr>
                                                <td>Touch Screen</td>
                                                <td>Yes</td>
                                            </tr>
                                            <tr>
                                                <td>Display Port</td>
                                                <td>Mini Display</td>
                                            </tr>
                                            <tr>
                                                <td>Graphics Chipset</td>
                                                <td>Intel UHD Graphics 620</td>
                                            </tr>
                                            <tr>
                                                <td>Graphics Memory</td>
                                                <td>Shared</td>
                                            </tr>
                                            <tr>
                                                <td>Networking</td>
                                                <td>WiFi, Bluetooth, Card Reader, Webcam</td>
                                            </tr>
                                            <tr>
                                                <td>USB Port</td>
                                                <td>1 x Full-size USB3.0</td>
                                            </tr>
                                            <tr>
                                                <td>Audio Port</td>
                                                <td>3.5mm Headset jack, Dual microphones</td>
                                            </tr>
                                            <tr>
                                                <td>Operating System</td>
                                                <td>Win-10 Home</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div> -->
                                <div class="table-responsive careers-table">
                                    <table class="table table-striped">
                                        <tbody>
                                            
                                            <tr>
                                                <td>
                                                    <div class="icon">
                                                        <i class="fas fa-lightbulb-on"></i>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="box_cnt">
                                                        <h2 class="font-bd">Business Development Executive</h2>
                                                        <p class="mb-0 font-md">We are looking for performers with minimum 2-5 years of experience in online bidding
                
                                                           
                
                                                        </p>
                                                    </div>
                                                </td>
                                                <td>
                                                    <a routerLink='/BuisnessDevelopmentExecutiveUkComponent' routerLinkActive="active" class="theme-btn btn-white-orange"
                                                            [routerLinkActiveOptions]="{exact: true}">Apply Now</a>
                                                </td>
                                            </tr>
                                          
                                            <tr>
                                                <td>
                                                    <div class="icon">
                                                        <i class="fab fa-android"></i>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="box_cnt">
                                                        <h2 class="font-bd">
                                                            Android Developer</h2>
                                                        <p class="mb-0 font-md"> We are looking for performers with 1-5 years of experience as Android Developer
                
                                                        </p>
                                                    </div>
                                                </td>
                                                <td>
                                                    <a routerLink='/AndroidDeveloperUkComponent' routerLinkActive="active" class="theme-btn btn-white-orange"
                                                    [routerLinkActiveOptions]="{exact: true}">Apply Now</a>
                                                </td>
                                            </tr>
                                           
                                          
                                        </tbody>
                                    </table>
                        </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="review">
                            <div class="tab-inner">
                                <!-- Comments -->
                                <div class="post-comments">
                                    <h3 class="fw-600 mb-xl-40">Comments</h3>
                                    <ul class="comments-list custom mb-xl-40">
                                        <li>
                                            <div class="comment-img">
                                                <img src="assets/images/comment-1.jpg" alt="img">
                                            </div>
                                            <div class="comment-desc">
                                                <div class="desc-top">
                                                    <h6>Rosalina Kelian</h6>
                                                    <span class="date">19th May 2020</span>
                                                    <a href="#" class="reply-link"><i class="far fa-reply"></i>Reply</a>
                                                </div>
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                                    consequat.
                                                </p>
                                            </div>
                                            <ul class="children custom">
                                                <li>
                                                    <div class="comment-img">
                                                        <img src="assets/images/comment-2.jpg" alt="img">
                                                    </div>
                                                    <div class="comment-desc">
                                                        <div class="desc-top">
                                                            <h6>Rosalina Kelian<span class="saved"><i class="fas fa-bookmark"></i></span></h6>
                                                            <span class="date">19th May 2020</span>
                                                            <a href="#" class="reply-link"><i class="far fa-reply"></i>Reply</a>
                                                        </div>
                                                        <p>
                                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                                            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                                                            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                                            aliquip ex ea commodo consequat.
                                                        </p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <div class="comment-img">
                                                <img src="assets/images/comment-3.jpg" alt="img">
                                            </div>
                                            <div class="comment-desc">
                                                <div class="desc-top">
                                                    <h6>Arista Williamson</h6>
                                                    <span class="date">19th May 2020</span>
                                                    <a href="#" class="reply-link"><i class="far fa-reply"></i>Reply</a>
                                                </div>
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                                    consequat.
                                                </p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="comment-form">
                                    <h3 class="fw-600 mb-xl-40">Post Comments</h3>
                                    <form action="#" method="POST">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="form-box form-group">
                                                    <textarea name="#" rows="6" class="form-control form-control-custom" placeholder="Type your comments..."></textarea>
                                                    <span class="icon text-orange">
                                                        <i class="fal fa-pencil-alt"></i>
                                                    </span>
                                                </div>
                                                <div class="form-box form-group">
                                                    <input type="text" name="#" class="form-control form-control-custom" placeholder="Type your name..."/>
                                                    <span class="icon text-orange">
                                                        <i class="fal fa-user"></i>
                                                    </span>
                                                </div>
                                                <div class="form-box form-group">
                                                    <input type="email" name="#" class="form-control form-control-custom" placeholder="Type your email..."/>
                                                    <span class="icon text-orange">
                                                        <i class="fal fa-envelope"></i>
                                                    </span>
                                                </div>
                                                <div class="form-box form-group">
                                                    <input type="text" name="#" class="form-control form-control-custom" placeholder="Type your website..."/>
                                                    <span class="icon text-orange">
                                                        <i class="fal fa-globe"></i>
                                                    </span>
                                                </div>
                                                <button type="submit" class="theme-btn btn-orange">Post Comment <i class="fal fa-plus"></i></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Start benefits -->
<!-- <section class="section-padding bg-dark-blue">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="section-header left-heading">
                    <div class="section-heading">
                        <h6 class="text-orange mb-xl-10 sub-heading"><span>Others</span></h6>
                        <h3 class="text-custom-white fw-700 title">You Should Apply Here For Move Forward<span
                                class="text-orange">.</span></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 text-lg-right mb-xl-30">
                <a href="#" class="theme-btn btn-orange">Apply Now <i class="fal fa-plus"></i></a>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl col-md-4 col-sm-6">
                <div class="benefit-box mb-lg-30">
                    <div class="icon text-orange">
                        <i class="flaticon-safe"></i>
                    </div>
                    <h5 class="fw-600"><a href="#" class="text-custom-white">Health Care</a></h5>
                    <p class="text-custom-white no-margin">Lorem ipsum dolor sit amet, consectetur adipi sicing elit,
                        sed.</p>
                </div>
            </div>
            <div class="col-xl col-md-4 col-sm-6">
                <div class="benefit-box mb-lg-30">
                    <div class="icon text-orange">
                        <i class="flaticon-tax-1"></i>
                    </div>
                    <h5 class="fw-600"><a href="#" class="text-custom-white">Flexibilty</a></h5>
                    <p class="text-custom-white no-margin">Lorem ipsum dolor sit amet, consectetur adipi sicing elit,
                        sed.</p>
                </div>
            </div>
            <div class="col-xl col-md-4 col-sm-6">
                <div class="benefit-box mb-lg-30">
                    <div class="icon text-orange">
                        <i class="flaticon-meeting"></i>
                    </div>
                    <h5 class="fw-600"><a href="#" class="text-custom-white">Meals</a></h5>
                    <p class="text-custom-white no-margin">Lorem ipsum dolor sit amet, consectetur adipi sicing elit,
                        sed.</p>
                </div>
            </div>
            <div class="col-xl col-md-4 col-sm-6">
                <div class="benefit-box mb-sm-30">
                    <div class="icon text-orange">
                        <i class="flaticon-lcd"></i>
                    </div>
                    <h5 class="fw-600"><a href="#" class="text-custom-white">Gaming Zone</a></h5>
                    <p class="text-custom-white no-margin">Lorem ipsum dolor sit amet, consectetur adipi sicing elit,
                        sed.</p>
                </div>
            </div>
            <div class="col-xl col-md-4 col-sm-6">
                <div class="benefit-box">
                    <div class="icon text-orange">
                        <i class="flaticon-target"></i>
                    </div>
                    <h5 class="fw-600"><a href="#" class="text-custom-white">Lifestyle</a></h5>
                    <p class="text-custom-white no-margin">Lorem ipsum dolor sit amet, consectetur adipi sicing elit,
                        sed.</p>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- End benefits -->
<!-- Start Blog -->
<!-- <section class="section-padding">
    <div class="container">
        <div class="section-header">
            <div class="section-heading">
                <h6 class="text-orange mb-xl-10 sub-heading"><span>News</span></h6>
                <h3 class="text-blue fw-700 title">Get connect with us<span class="text-orange">.</span></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="blog-slider row">
                    <div class="col-lg-12 slide-item">
                        <div class="blog-style-1">
                            <div class="post-img animate-img">
                                <a routerLink='/news-detail'>
                                    <img src="assets/images/blog-1.jpg" class="image-fit" alt="">
                                </a>
                            </div>
                            <div class="post-date">
                                <span class="date">24</span>
                                <span class="month">June</span>
                            </div>
                            <div class="post-content">
                                <div class="post-category">
                                    <p class="double-lines text-orange fw-600 mb-1"><span><a href="#"
                                                class="text-orange">Finance</a></span></p>
                                </div>
                                <h2 class="post-title"><a routerLink='/news-detail'>Improving lives with tech HSE
                                        lighthouse project</a></h2>
                                <ul class="custom-flex post-meta">
                                    <li>
                                        <a href="#">
                                            <i class="fal fa-user text-orange"></i>
                                            Rosalia D.
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fal fa-calendar-alt text-orange"></i>
                                            24th June 2020
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 slide-item">
                        <div class="blog-style-1">
                            <div class="post-img animate-img">
                                <a routerLink='/news-detail'>
                                    <img src="assets/images/blog-2.jpg" class="image-fit" alt="">
                                </a>
                            </div>
                            <div class="post-date">
                                <span class="date">18</span>
                                <span class="month">June</span>
                            </div>
                            <div class="post-content">
                                <div class="post-category">
                                    <p class="double-lines text-orange fw-600 mb-1"><span><a href="#"
                                                class="text-orange">Business</a></span></p>
                                </div>
                                <h2 class="post-title"><a routerLink='/news-detail'>Improving lives with tech HSE
                                        lighthouse project</a></h2>
                                <ul class="custom-flex post-meta">
                                    <li>
                                        <a href="#">
                                            <i class="fal fa-user text-orange"></i>
                                            Rosalia D.
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fal fa-calendar-alt text-orange"></i>
                                            18th June 2020
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 slide-item">
                        <div class="blog-style-1">
                            <div class="post-img animate-img">
                                <a routerLink='/news-detail'>
                                    <img src="assets/images/blog-1.jpg" class="image-fit" alt="">
                                </a>
                            </div>
                            <div class="post-date">
                                <span class="date">04</span>
                                <span class="month">June</span>
                            </div>
                            <div class="post-content">
                                <div class="post-category">
                                    <p class="double-lines text-orange fw-600 mb-1"><span><a href="#"
                                                class="text-orange">Consultancy</a></span></p>
                                </div>
                                <h2 class="post-title"><a routerLink='/news-detail'>Improving lives with tech HSE
                                        lighthouse project</a></h2>
                                <ul class="custom-flex post-meta">
                                    <li>
                                        <a href="#">
                                            <i class="fal fa-user text-orange"></i>
                                            Rosalia D.
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fal fa-calendar-alt text-orange"></i>
                                            04th June 2020
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- End Blog -->

<app-footer-one></app-footer-one>