.imageiso{
    height: 13vh;
    /* width: 100%; */
    
}
.name{
    color: white;
    font-size: 21px;
    font-weight: 600;
    margin-top: 8%;
    margin-left: -2%;
}
.subname{
    /* color: white;
    font-size: 14px; */
    color: #d2c6c6;
    font-size: 12px;
    font-weight: 500;
    margin-left: 11%;
}
img {
    max-width: 70%;
    width: auto;
    height: auto;
    transition: 0.5s;
    margin-top: -20%;
}


#back-topp a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 0px;
    text-align: center;
    line-height: 36px;
    border: #2b59bb solid 1px;
    color: #ffffff;
    background: #4384da;
    transition-duration: 0.3s;
    font-size: 22px;
    box-shadow: rgb(0 0 0 / 5%) 0 0 10px;
    position: fixed;
    z-index: 100;
    /* bottom: 66px; */
    bottom: 156px;
    right: 20px;
    text-decoration: none;
}

#back-top-whatsapp{
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 0px;
    text-align: center;
    line-height: 36px;
    border: #2dd852 solid 1px;
    color: #ffffff;
    background: #39cc4d;
    transition-duration: 0.3s;
    font-size: 22px;
    box-shadow: rgb(0 0 0 / 5%) 0 0 10px;
    position: fixed;
    z-index: 100;
    bottom: 195px;
    right: 20px;
    text-decoration: none;
}
#back-top-linkdin{
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 0px;
    text-align: center;
    line-height: 36px;
    border:  #0e76a8  solid 1px;
    color: #ffffff;
    background:  #0e76a8 ;
    transition-duration: 0.3s;
    font-size: 22px;
    box-shadow: rgb(0 0 0 / 5%) 0 0 10px;
    position: fixed;
    z-index: 100;
    bottom: 235px;
    right: 20px;
    text-decoration: none;
}
#back-top-twitter{
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 0px;
    text-align: center;
    line-height: 36px;
    border: #1DA1F2 solid 1px;
    color: #ffffff;
    background: #1DA1F2;
    transition-duration: 0.3s;
    font-size: 22px;
    box-shadow: rgb(0 0 0 / 5%) 0 0 10px;
    position: fixed;
    z-index: 100;
    bottom: 198px;
    right: 20px;
    text-decoration: none;
}

