<!-- Start Footer -->
<footer class="section-padding bg-dark-blue footer">
    <div class="container">
        <div class="row">
            <div class="col-xl-3">
                <div class="ft-logo mb-lg-80">
                    <img src="assets/images/senwell_logo.png" class="image " alt="">
                    <div class="name" >Senwell Solutions</div>
                    <!-- <div class="text-custom-white">"Committed for better future, committed for better freedom"</div> -->
                    <!-- <div class="subname">Empowered by Enovations...</div> -->
                </div>
            </div>
            <div class="col-xl-3 col-md-3 col-sm-6">
                <div class="footer-widgets mb-sm-80">
<br>
                    <h6 class="text-custom-white fw-600">Empowered by Enovations...</h6>
                    <ul class="custom">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a routerLink='/about' routerLinkActive="active"
                                        [routerLinkActiveOptions]="{exact: true}">About Us</a>
                        </li>
                        <li>
                            <a href="/service-2">Service</a>
                        </li>
                        <li>
                            <a href="/portfolio-1">Portfolio</a>
                        </li>
                        <li>
                            <a href="/service-2">How We Work</a>
                        </li>
                        <li>
                            <a href="/careers">Career </a>
                        </li>
                        <li>
                            <a href="/contact">Contact </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- <div class="col-xl-2 col-md-3 col-sm-6">
                <div class="footer-widgets mb-sm-80">
                    <h5 class="text-custom-white fw-600">For Developers<span class="text-orange">.</span></h5>
                    <ul class="custom">
                        <li>
                            <a href="#">Docs</a>
                        </li>
                        <li>
                            <a href="#">Knowledge base</a>
                        </li>
                        <li>
                            <a href="#">System status</a>
                        </li>
                        <li>
                            <a href="#">Tutorials</a>
                        </li>
                        <li>
                            <a href="#">Security</a>
                        </li>
                    </ul>
                </div>
            </div> -->
            <div class="col-xl-3 col-md-3 col-sm-6">
                <!-- <div class="footer-widgets mb-xs-80">
                    <h5 class="text-custom-white fw-600">Resources<span class="text-orange">.</span></h5>
                    <ul class="custom">
                        <li>
                            <a href="#">PDF Docs</a>
                        </li>
                        <li>
                            <a href="#">Leadership</a>
                        </li>
                        <li>
                            <a href="#">Press/News</a>
                        </li>
                        <li>
                            <a href="#">Careers/Team</a>
                        </li>
                        <li>
                            <a href="#">Support</a>
                        </li>
                    </ul>
                </div> -->
                <div class="footer-widgets mb-xs-80">
                    <h5 class="text-custom-white fw-600">Contact Info<span class="text-orange">.</span></h5>
                    <ul class="custom">
                        <li>
                            <a href="#"></a>
                        </li>
                        <li>
                            <i class="bi bi-geo-alt-fill text-custom-white">Contact Details</i>



                            <a href="#">City vista WIng A, near World Trade Center, Kharadi, Pune, Maharashtra 411014
                            </a>
                            <i class="fal fa-envelope text-custom-white "> Email Id</i>
                            <a href="mailto:info@senwellsys.com">info@senwellsys.com                            </a>
                            <i class="fal fa-phone text-custom-white"> Contact No</i>
                            <a href="tel:+091 76960 68917" class="text-blue">
                                +91 76960 68917
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-md-3 col-sm-6">
                <div class="footer-widgets newsletter">
                    <!-- <h5 class="text-custom-white fw-600">Subscribe Now<span class="text-orange">.</span></h5> -->
                    <div class="input-group mb-xl-20">
                        <img src="assets/images/ISO_9001-2015-1536x1568.png" class="imageiso" style="border-radius: 200px;" alt="">
                    </div>
                    <!-- <img src="assets/images/ISO_9001-2015-1536x1568.png" class="image " style="border-radius: 200px;" alt=""> -->
                    <img src="assets/images/uu.png" class="image " alt=""> 
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="copyright">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 col-md-6">
                <ul class="custom-flex ft-menu">
                    <li>
                        <a href="#" class="text-custom-white">Products</a>
                    </li>
                    <li>
                        <a href="#" class="text-custom-white">Platform</a>
                    </li>
                    <li>
                        <a href="#" class="text-custom-white">Refund Policy</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6">
                <p class="text-custom-white fw-500">Copyright By@<a href="#" class="text-custom-white">Senwell Solutions</a></p>
            </div>
            <div class="col-lg-4">
                <ul class="custom-flex ft-social">
                    <li>
                        <a href="https://www.facebook.com/Senwell-Solution-104297181871474/?ref=pages_you_manage" target="_blank" rel="noopener noreferrer" class="text-custom-white">
                            <i class="fab fa-facebook-f"></i>
                            </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/Senwell15" target="_blank" rel="noopener noreferrer" class="text-custom-white">
                            <i class="fab fa-twitter"></i>
                            
                    </a>
                    </li>
                   
                    <li>
                        <a href="https://www.linkedin.com/company/senwell-soutions-llp/" target="_blank" rel="noopener noreferrer" class="text-custom-white">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </li>
                    <!-- <li>
                        <a href="#" class="text-custom-white">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="back-top-twitter" class="text-custom-white">

    <a href="https://twitter.com/Senwell15" target="_blank" rel="noopener noreferrer" class="text-custom-white">
        <i class="fab fa-twitter"></i>
    </a>
</div>
<div id="back-top-linkdin" class="text-custom-white">

    <a href="https://www.linkedin.com/company/senwell-soutions-llp/" target="_blank" rel="noopener noreferrer"
        class="text-custom-white">
        <i class="fab fa-linkedin"></i>
    </a>
</div>

<div id="back-top-whatsapp" class="text-custom-white">

    <a href="https://wa.me/91 76960 68917" target="_blank" rel="noopener noreferrer" class="text-custom-white">
        <i class="fab fa-whatsapp"></i>
    </a>


</div>


<div id="back-topp" class="text-custom-white">
    <a href="https://www.facebook.com/Senwell-Solution-104297181871474/?ref=pages_you_manage"><i class="fab fa-facebook-f"></i></a>
</div>



<div id="back-top" class="back-top">
    <a href="#top"><i class="fal fa-long-arrow-up"></i></a>
</div>
<!-- End Footer -->