<!-- <app-header-one></app-header-one> -->



<div class="container">
    <div class="row" style="margin-top: 7%;">
        <div class="col-lg-8 col-md-6">
            <h4>Android Developer Job Description</h4>

            <ul class="list-group">
                <li>Sound knowledge of Android, Java, Kotlin and XML parsing </li>
                <li> Should have developed and published at least 2 apps</li>
                <li> Proficient with Android SDK</li>
                <li> Knowledge of working on remote data via REST & JSON</li>
                <li> Knowledge of custom layouts and third-party libraries & APIs</li>
                <li>Knowledge of payment gateway integration is an added advantage,and also theKnowledge
                    of MVVM architecture </li>  



            </ul>



            <h5>Desired Candidate Profile</h5>

            <h5>Profile Requisites:</h5>

            <div class="container">
                <ul class="list-group">
                    <li>Build advanced applications for Android platform </li>
                    <li>Implement Mobile Shopping, Payment & Security features </li>
                    <li>Integrate web services like SOAP, POST & REST with mobile app </li>
                    <li>Collaborate with cross functional teams to complete complex tasks </li>
                    <li> Work with outside data sources & APIs</li>

                </ul>
            </div>
            <p>Interested candidates should submit a completed resume and cover letter to <a
                    href="mailto:hr@senwellsys.com" class="text-blue">
                    hr@senwellsys.com
                </a></p>
            <p> <u><a class="backcareer" routerLink='/careers' routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}">&lt;&lt; Back to careers</a></u></p>

        </div>


        <div class="col-lg-4 col-md-6">
            <div class="jumbotron" style="background: #95c3f5;">
                <div class="container">

                    <h3 style="text-align: center;">Apply</h3>

                    <form action="" [formGroup]="ReactCandidate">
                        <mat-form-field appearance="outline" class="width_of_input">
                            <mat-label>Name</mat-label>
                            <input matInput formControlName="name" />
                            <!-- <mat-error *ngIf=""></mat-error>Required</mat-error> -->
                            <mat-error *ngIf="ReactCandidate.get('name').invalid">
                                Please enter valid Name
                            </mat-error>
                        </mat-form-field>
                         <mat-form-field appearance="outline" class="Email" class="width_of_input">
                            <mat-label>Email</mat-label>
                            <input matInput formControlName="Email" />
                            <mat-error *ngIf="ReactCandidate.get('Email').invalid">
                                Please enter a valid email address
                            </mat-error>

                        </mat-form-field>


                        <mat-form-field appearance="outline" class="InputBox" class="width_of_input">
                            <mat-label>Company </mat-label>
                            <input matInput formControlName="Company" />
                            <mat-error *ngIf="ReactCandidate.get('Company').invalid">
                                Please enter a company name
                            </mat-error>

                        </mat-form-field>

                        <mat-form-field appearance="outline" class="InputBox" class="width_of_input">
                            <mat-label>CTC</mat-label>
                            <input matInput formControlName="CTC" />
                            <mat-error *ngIf="ReactCandidate.get('CTC').invalid">
                                Please enter a valid CTC
                            </mat-error>
                        </mat-form-field>



                        <mat-form-field appearance="outline" class="width_of_input">
                            <mat-label>Experience</mat-label>
                            <mat-select formControlName="dropDown" name="food">
                                <mat-option *ngFor="let food of foods" [value]="food.value">
                                    {{food.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <div class="files">
                            <input type="file" class="upload-box" (change)="uploadCandidateCv($event)" formControlName="file"/>
                        </div>

                        <!-- <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <div class="custom-file input-container">
                              <input
                                type="file"
                                multiple
                                id="file"
                                (change)="uploadCandidateCv($event)"
                                class="custom-file-input form-control"
                              />
                              <label class="custom-file-label brws-fld" for="customFile"
                                ><i class="fa fa-file-text icon n-brw"></i>Choose file</label
                              >
                            </div>
                          </div> -->

                      
                          <!-- <button type="submit" class="theme-btn" style="background: #ff4815;border-radius: 30px; margin-left: 20%;"  [disabled]="!ReactCandidate.valid" (click)="saveReactcandidate()">Submit</button> -->

                          <button mat-raised-button color="primary" (click)="saveReactcandidate()"  [disabled]="!ReactCandidate.valid">Submit</button>  
 


                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer-one></app-footer-one>