<!-- <app-header-one></app-header-one> -->
<!-- Start Subheader -->
<div
  class="normal-bg subheader"
  style="background-image: url('assets/images/Banner-HowWeWork.jpg')"
>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="subheader-content">
          <!-- <h1 class="page-title text-custom-white fw-600">About Us</h1> -->
          <!-- <ul class="custom-flex breadcrumb">
                        <li><a routerLink='/'>Home</a></li>
                        <li>About Us</li>
                    </ul> -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Subheader -->
<!-- Start About us -->
<section class="section-padding-bottom">
  <div class="top-about-sec">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="about-wrap-box">
            <div class="row no-gutters">
              <div class="col-lg-6">
                <div class="left-side full-height">
                  <img
                    src="assets/images/team111.jpg"
                    class="image-fit"
                    alt=""
                  />
                </div>
              </div>
              <div class="col-lg-6">
                <div class="right-side">
                  <div class="section-header left-heading">
                    <div class="section-heading">
                      <!-- <h6 class="text-orange mb-xl-10 "><span>About Us</span></h6> -->
                      <h3 class="text-blue fw-700 title">
                        Core level values and amazing team<span
                          class="text-orange"
                          >.</span
                        >
                      </h3>
                      <p class="desc">
                        Meet the intelligent and hardworking team of software
                        and infrastructure engineers, data scientists, project
                        managers, and quality testers that work at Senwell.
                      </p>
                    </div>
                  </div>
                  <ul class="custom list-block">
                    <li>
                      <span class="text-orange"
                        ><i class="fal fa-check"></i
                      ></span>
                      Latest technological standards
                    </li>
                    <li>
                      <span class="text-orange"
                        ><i class="fal fa-check"></i
                      ></span>
                      24/7 online support
                    </li>
                    <li>
                      <span class="text-orange"
                        ><i class="fal fa-check"></i
                      ></span>
                      Meeting project deadlines
                    </li>
                    <li>
                      <span class="text-orange"
                        ><i class="fal fa-check"></i
                      ></span>
                      Good team members
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="container">
        <div class="row">
            <div class="col-sm">
                <p class="big_content">Senwell Solution is specialized in Design, Development &amp; Maintenance of Web
                    &amp; Moblie Applications.</p>

            </div>
            <div class="col-sm">
                <p>We understand that the future comes hand in hand with technology, making it a key tool to improve
                    processes, communicate better, reduce costs and streamline tasks. Information and Communication
                    Technologies allow us to optimize company processes and seek specific answers adapted to each
                    business. </p>
                <p>Our way of working is based on creating tailor-made solutions for each client, which implies that we
                    are capable of adapting to the demands of any project and company.</p>
                <p>We take care of bringing digital transformation closer to companies through technological trends.</p>

            </div>
        </div>
    </div> -->

  <section class="services servicepage">
    <div class="container">
      <div class="row">
        <section id="counter_two" class="counter_two">
          <div class="overlay">
            <div class="container">
              <div class="row">
                <div class="main_counter_two sections"></div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="col-sm-3 text-center">
                    <div class="row"></div>
                  </div>
                  <!-- End off col-sm-3 -->
                  <div class="col-sm-3 text-center">
                    <div class="row"></div>
                  </div>
                  <!-- End off col-sm-3 -->
                  <div class="col-sm-3 text-center">
                    <div class="row"></div>
                  </div>
                  <!-- End off col-sm-3 -->
                  <div class="col-sm-3 text-center">
                    <div class="row"></div>
                  </div>
                </div>
              </div>
              <!-- End off row -->
            </div>
            <!-- End off container -->
          </div>
          <!-- End off overlay -->
        </section>
        <!-- End off Counter section -->
      </div>
      <div class="row">
        <div class="heading">
          <br />
          <br />

          <h6>About Us</h6>
          <div class="span">
            <span class="red"></span><span class="black"></span>
          </div>
          <br />
          <p>
            Being a company operating in Information Technology; we deal with
            the design and development of software systems and solutions. Our
            team of IT engineers and web experts like to approach the software
            architecture taking into account all the technological aspects,
            optimizing its compatibility with the company's business &amp; core
            competitiveness. We strive to improve and optimize business tools by
            choosing the right technological methodologies.
            <br />
            <br />
            Senwell Solutions identifies its "mission" in offering the best
            service with the return on investment in the shortest possible time
            as its primary objective. The values of Senwell are the guiding
            principles on which it was founded, and the work team is committed
            to respecting them by matching them with the business needs of
            companies.
            <br />
            Senwell solutions team consists of highly experienced programmers
            &amp; creative persons managed by positive influential leads.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="heading">
          <br />
          <br />

          <h6>Why choose us ?</h6>
          <div class="span">
            <span class="red"></span><span class="black"></span>
          </div>
          <br />
          <p>
            We have the skills and resources necessary to design, develop and
            manage the most effective technology platform for your projects.
            Relying on us means having the certainty of seeing your business
            project realized, obtaining support during all development
            processes, having a range of skills such as to achieve an
            improvement in productivity and obtain a real competitive advantage.
          </p>
        </div>
      </div>

      <div class="row strnth-in">
        <br />
        <div class="col-md-6">
          <h3>Latest technological standards</h3>
          <p>
            Expert in the design of software architectures, attentive to the
            choices that are made within the company at the level of framework
            and programming pattern.
          </p>
        </div>
        <div class="col-md-6">
          <h3>Dedicated development teams</h3>
          <p>
            Our developers are committed to providing optimal solutions in order
            to add real value that goes beyond what the customer expects.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <br />
          <h3>Meeting project deadlines</h3>
          <p>
            We use the technology &amp; tools which optimize &amp; reduce
            development time in order to meet deadlines.
          </p>
        </div>
        <div class="col-md-6">
          <br />
          <h3>24x7 Availability</h3>
          <p>
            We are available to support your project 24x7 and can work with your
            time-zone.
          </p>
        </div>
      </div>
    </div>
  </section>
</section>

<section class="our-values-sec">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="values-block mb-md-30">
          <div class="values-block-inner">
            <div class="icon">
              <i class="flaticon-global"></i>
            </div>
            <h3 class="fw-600">
              <a routerLink="/about">Dedicated development teams</a>
            </h3>
            <p class="fw-500 fs-16">
              Our developers are committed to providing optimal solutions real value that goes beyond the customer
              expects.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="values-block mb-md-30">
          <div class="values-block-inner">
            <div class="icon">
              <i class="flaticon-box-1"></i>
            </div>
            <h3 class="fw-600">
              <a routerLink="/about">Meeting project deadlines</a>
            </h3>
            <p class="fw-500 fs-16">
              We use the technology & tools which optimize & reduce development
              time in order to meet deadlines.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="values-block">
          <div class="values-block-inner">
            <div class="icon">
              <i class="flaticon-innovation"></i>
            </div>
            <h3 class="fw-600">
              <a routerLink="/about">Core product develop</a>
            </h3>
            <p class="fw-500 fs-16">
              Our developers are committed to providing optimal solutions in
              order to add real value that goes beyond what the customer
              expects.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="progress-bar-sec">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="custom-progress-bar">
          <div class="progressbar-text">
            <p class="fw-600">UI/UX Design</p>
            <p class="text-orange fw-600">65%</p>
          </div>
          <div class="progressbar-wrap">
            <div class="progressbar" data-width="65"></div>
          </div>
        </div>
        <div class="custom-progress-bar">
          <div class="progressbar-text">
            <p class="fw-600">Web Development</p>
            <p class="text-orange fw-600">72%</p>
          </div>
          <div class="progressbar-wrap">
            <div class="progressbar" data-width="72"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="custom-progress-bar">
          <div class="progressbar-text">
            <p class="fw-600">Custom Software Development</p>
            <p class="text-orange fw-600">90%</p>
          </div>
          <div class="progressbar-wrap">
            <div class="progressbar" data-width="90"></div>
          </div>
        </div>
        <div class="custom-progress-bar">
          <div class="progressbar-text">
            <p class="fw-600">Mobile App Development</p>
            <p class="text-orange fw-600">82%</p>
          </div>
          <div class="progressbar-wrap">
            <div class="progressbar" data-width="82"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container" style="margin-bottom: 7%">
    <div class="row">
      <div class="col-lg-4 col-sm">
        <img src="assets/images/ceo.png" class="ceoimg" alt="" />

        <div class="cname">RAJENDRA P.</div>
        <div class="cname1">Founder & CEO</div>
      </div>
      <div class="col-lg-8 col-sm">
        <h4>A Warm Hello to All,</h4>
        <p style="font-size: 15px">
          If you have reached this page then there is a high chance that you
          really want to know deep about us and our philosophy. At the start,
          thanks for reading this page. By now you know that we at Senwell high
          quality professionals working in the field of software development
          Website Development. Our strength is our team and our constant pursuit
          to be at our best always.
        </p>

        <p>
          Once your brand is associated with us, we feel and think about it as
          our own. We treat your brand with the same passion and creativity as
          you do. At every step we think of making sure that we promote you and
          uplift your brand. From the look and feel of your website to its
          visibility in search engines and all other required platforms or
          devices, we make sure that every facet of your project with us is done
          with perfection.
        </p>

        <p>
          We put all our experience and ideas into the process of your project
          to make sure that your website and campaigns look amazing to your
          target audience and you get not just your desired response but we
          should be able to surpass your expectations. We treat our web and
          graphic designers as artists, who will craft, design and develop your
          brand on the internet with their unique signature of style and
          generate that wow factor in front of the viewer.
        </p>

        <p>
          I invite & welcome you to the <strong>SENWELL SOLUTIONS! </strong>
        </p>
      </div>
    </div>
  </div>
</section>
<app-footer-one></app-footer-one>
