<!-- <app-header-one></app-header-one> -->
<!-- Start Subheader -->
<div class="normal-bg subheader" style="background-image: url('assets/images/work2.png');">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="subheader-content">
                    <h1 class="page-title text-custom-white fw-600">How We Work </h1>

                </div>
            </div>
        </div>
    </div>
</div>



<!-- End Subheader -->
<section class="section-padding skillset-2 count-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="left-skillset mb-md-80">
                    <div class="section-header left-heading pb-0">
                        <div class="section-heading">
                            <h3 class="fw-700 title">Get amazing experience with our cool team<span
                                    class="text-orange">.</span></h3>
                            <p class="desc fw-500">Meet the intelligent and hardworking team of software and
                                infrastructure engineers, data scientists, project managers, and quality testers that
                                work at Senwell Solutions.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="skill-set-bx normal-bg"
                                style="background-image: url('assets/images/amazingteam3.jpg');">
                                <div class="counter">
                                    <span class="count text-custom-white">90</span><span
                                        class="text-custom-white fs-16">%</span>
                                </div>
                                <p class="text-custom-white">Problem Solving</p>
                            </div>
                        </div>
                        <div class="col-6 skill-box-2">
                            <div class="skill-set-bx normal-bg"
                                style="background-image: url('assets/images/amazingteam4.jpg');">
                                <div class="counter">
                                    <span class="count text-custom-white">65</span><span
                                        class="text-custom-white fs-16">%</span>
                                </div>
                                <p class="text-custom-white">Business Grow</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <img src="assets/images/amazingteam2.jpg" class="image-fit" alt="">
            </div>
        </div>
    </div>
</section>


<section class="section-padding skillset-2 count-section" style="margin-top: -15%;">
    <div class="container">
        <div class="row text-center pdngTop40">
            <div class="heading">
                <h6>What you will get while working with us</h6>
                <div class="span"><span class="red"></span><span class="black"></span></div>
                <p class="paddingB15">a certified team with experience in complex websites based on Drupal and Symfony
                    framework 1 or more copy of your website on our development server. You can test new features in a
                    safe environment daily updates - you always know what is going on in your project UX/UI team
                    multiple communication channels: Slack, Skype, Jira, phone, e-mail direct communications with our
                    developers flexible resources planning: every month you can decide how many hours you’d like to use
                    in the next month (for example 200, 400, 600, etc). You can plan resources to fit your application
                    development plans QA specialist on each project - we continuously check your website to keep it
                    working and bug free access to code of the application (git repository), you can follow our work not
                    only on a task tracker, but also in code</p>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="row text-center pdngTop40">
            <div class="heading">
                <h6>How we work: project management</h6>
                <div class="span"><span class="red"></span><span class="black"></span></div>
                <p class="paddingB15">When you come to us with your idea, we want to fully meet your expectations. Your
                    contribution to the project management process is very important and allows us to create a valuable
                    product together. We examine your needs – from the analysis, through the development. Regardless of
                    whether you want to start a new project or scale an existing one, we know what to do and we want to
                    help you bring your vision to life. You can be sure that the management will be tailored to fit your
                    project. We employ the broadly understood Agile methodology. We love to work using Scrum, but our
                    project managers are flexible and can choose the best path to achieve the goal – regardless of the
                    framework used. Check out what you can expect when establishing cooperation with us.</p>

            </div>
        </div>
    </div>
</section>

<!-- Start Services -->
<section class="section-padding">
    <div class="container">
        <div class="section-header">
            <div class="section-heading">


            </div>
        </div>
        <div class="row">

            <!-- <div class="col-lg-12 col-md-6">
                <div class="choose-us-box style-2 mb-xl-30">
                    <div class="top-sec">
                        <h4 class="fw-600 no-margin"><a routerLink='/service-detail'>How we work: project management</a>
                        </h4>
                    </div>
                    <p class="fw-500 mb-xl-10">
                        When you come to us with your idea, we want to fully meet your expectations. Your contribution
                        to the project management process is very important and allows us to create a valuable product
                        together.

                        We examine your needs – from the analysis, through the development.
                        Regardless of whether you want to start a new project or scale an existing one, we know what to
                        do and we want to help you bring your vision to life.

                        You can be sure that the management will be tailored to fit your project. We employ the broadly
                        understood Agile methodology. We love to work using Scrum, but our project managers are flexible
                        and can choose the best path to achieve the goal – regardless of the framework used.

                        Check out what you can expect when establishing cooperation with us.
                    </p>
                </div>
            </div> -->
            <div class="col-lg-12 col-md-6">
               
            </div>
        </div>


    </div>
</section>
<section class="section-padding" style="margin-top: -25%; margin-bottom:-10%;">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="choose-us-box style-2 mb-xl-30" style="background-color:  #f7ab96;">
                    <div class="top-sec">
                        <div class="icon">
                            <i class="flaticon-statistics text-orange"></i>
                        </div>
                        <h4 class="fw-600 no-margin"><a routerLink='/service-one'>Initial Analysis</a></h4>
                    </div>
                    <p class="fw-500 mb-xl-10"><strong>First contact:&nbsp;</strong>


                        During the first contact, we want to learn your business goals and product vision and collect
                        the information on the most important functionalities. We also answer the first questions and
                        inform you about the predicted project cost. We review the materials you provide and form a team
                        that will conduct the project analysis.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="choose-us-box style-2 mb-xl-30" style="background-color: #dfdff7;">
                    <div class="top-sec">
                        <div class="icon">
                            <i class="flaticon-investment text-orange" ></i>
                        </div>
                        <h4 class="fw-600 no-margin"><a routerLink='/service-one'> Sprint 0</a></h4>
                    </div>
                    <p class="fw-500 mb-xl-10">
                        Now comes the time to prepare for launching the development of your project. We take some time
                        to set the environment and configure the tools needed. We agree the project workflow and the
                        management method with you. It is the time to specify the order and implementation of tasks in
                        the backlog.
                    </p>

                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="choose-us-box style-2 mb-md-30" style="background-color:  #f7ab96;">
                    <div class="top-sec">
                        <div class="icon">
                            <i class="flaticon-graphic text-orange"></i>
                        </div>
                        <h4 class="fw-600 no-margin"><a routerLink='/service-one'>Development</a></h4>
                    </div>
                    <p class="fw-500 mb-xl-10">The course of the development phase differs, depending on the management
                        model chosen. We usually strive for iterative work, characteristic of Scrum. This allows for
                        frequent verification of the progress and continuous improvement of the software development
                        process. We flexibly adapt to any changes and keep in touch with you. </p>

                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="choose-us-box style-2 mb-md-30" style="background-color: #dfdff7;">
                    <div class="top-sec">
                        <div class="icon">
                            <i class="flaticon-growth text-orange"></i>
                        </div>
                        <h4 class="fw-600 no-margin"><a routerLink='/service-one'>Release</a></h4>
                    </div>
                    <p class="fw-500 mb-xl-10">When the specified scope of the project has been implemented, we are
                        ready to release the first version. Usually, when creating a product, more than one version is
                        being provided. It all depends on the arrangements made. The phase of iterations ended with
                        releasing a version may be repeated many times.</p>

                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="choose-us-box style-2" style="background-color:  #f7ab96;">
                    <div class="top-sec">
                        <div class="icon">
                            <i class="flaticon-box text-orange"></i>
                        </div>
                        <h4 class="fw-600 no-margin"><a routerLink='/service-one'>Project Support</a></h4>
                    </div>
                    <p class="fw-500 mb-xl-10">Usually, when the work on a website is completed, it requires maintaining
                        and taking care of its security. We offer support for your project, which includes introducing
                        new updates, as well as adding new functionalities and correcting the errors, if necessary. The
                        complexity of our services assures that you are not left on your own with the completed project.
                    </p>

                </div>
            </div>

        </div>
    </div>
</section> 

<!-- End Services -->
<!-- Start Video -->
<!-- <div class="video-box-sec">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="video-box">
                    <div class="video_wrapper video_wrapper_full js-videoWrapper">
                        <iframe class="videoIframe js-videoIframe" src="https://www.youtube.com/embed/pbiEfJd2Hpw"
                            data-src="https://www.youtube.com/embed/pbiEfJd2Hpw?autoplay=1" allow="autoplay"></iframe>
                        <div class="videoPoster js-videoPoster">
                            <img src="assets/images/video-img.jpg" class="image-fit" alt="#">
                            <div class="video-inner video-btn-wrapper"> <a href="JavaScript:Void(0);"
                                    class="text-orange"><i class="fas fa-play"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- End Video -->
<!-- Start Cta -->
<!-- <section class="about-style-2 call-to-action bg-orange">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-head-text">
                    <p class="text-custom-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="section-header left-heading pb-0">
                    <div class="section-heading">
                        <h6 class="text-custom-white mb-xl-10 sub-heading"><span>Our Values</span></h6>
                        <h3 class="text-custom-white fw-700 title">Core level values and amazing team<span
                                class="text-orange">.</span></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<!-- <section class="about-style-2 call-to-action bg-orange">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-head-text">
                    <p class="text-custom-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="section-header left-heading pb-0">
                    <div class="section-heading">
                        <h6 class="text-custom-white mb-xl-10 sub-heading"><span>Our Values</span></h6>
                        <h3 class="text-custom-white fw-700 title">Core level values and amazing team<span
                                class="text-orange">.</span></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- Start Cta -->
<!-- Start Our Values -->
<!-- <section class="our-values-sec">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="values-block mb-md-30">
                    <div class="values-block-inner">
                        <div class="icon">
                            <i class="flaticon-global"></i>
                        </div>
                        <h3 class="fw-600"><a routerLink='/service-detail'>Core product develop</a></h3>
                        <p class="fw-500 fs-16">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore</p>
                    </div>
                    <a routerLink='/service-detail' class="theme-btn btn-light full-width">Read More <i
                            class="fal fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="values-block mb-md-30">
                    <div class="values-block-inner">
                        <div class="icon">
                            <i class="flaticon-box-1"></i>
                        </div>
                        <h3 class="fw-600"><a routerLink='/service-detail'>Core product develop</a></h3>
                        <p class="fw-500 fs-16">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore</p>
                    </div>
                    <a routerLink='/service-detail' class="theme-btn btn-light full-width">Read More <i
                            class="fal fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="values-block">
                    <div class="values-block-inner">
                        <div class="icon">
                            <i class="flaticon-innovation"></i>
                        </div>
                        <h3 class="fw-600"><a routerLink='/service-detail'>Core product develop</a></h3>
                        <p class="fw-500 fs-16">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore</p>
                    </div>
                    <a routerLink='/service-detail' class="theme-btn btn-light full-width">Read More <i
                            class="fal fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- End Our Values -->
<!-- Start Skillset -->

<div class="wrapper">
    <!---====content========-->

    <!-- Page Content -->
    <div class="container portfolio_wrapper">
        <div class="row text-center" id="webapp">
            <div class="heading">
                <h6>Web based Apps, Portals and Enterprise Applications</h6>
                <div class="span"><span class="red"></span><span class="black"></span></div>
                <p class="paddingB15">
                    Web development is one of our core areas of expertise. Our experience in Web development includes
                    working on server side technologies like Asp.Net, MVC, C#, Xamarin, PHP, Python, Ruby, Java to
                    client side scripting languages &amp; frameworks such as HTML, CSS jQuery, Node.js, Angular.js,
                    Backbone.js, Bootstrap, Foundation, Cordova &amp; many other related technologies.
                </p>
                <p class="paddingB15">
                    Our domain expertise includes CRM &amp; ERP applications, Financial Portals, HR Portals, ecommerce
                    &amp; real estate listing websites, enterprise applications, Auto Portals, Healthcare solutions.
                </p>

            </div>
        </div>
        <!-- <div class="row clearfix">
            <div class="col-md-3 col-sm-6">
                <div class="cuadro_intro_hover">
                    <p>
                        <img src="images/portfolio/portfolio-2.jpg" class="img-responsive" alt="">
                    </p>
                    <div class="caption">
                        <div class="blur"></div>
                        <div class="caption-text">
                            <h3>POS Application</h3>
                            <p>This application is specially developed to create memorable buyer experiences and
                                flawless sales in-store, online or on-the-go.</p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="cuadro_intro_hover">
                    <p>
                        <img src="images/portfolio/portfolio-5.jpg" class="img-responsive" alt="">
                    </p>
                    <div class="caption">
                        <div class="blur"></div>
                        <div class="caption-text">
                            <h3>SequelNet</h3>
                            <p>SequelNet is one of the best &amp; secured cloud based service to experience a virtual
                                desktop and virtual application helping reduce your maintenance cost.</p>
                            <a class="btn btn-default" href="http://www.sequelnet.com/" target="_blank"><span
                                    class="glyphicon glyphicon-link"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="cuadro_intro_hover">
                    <p>
                        <img src="images/portfolio/portfolio-6.jpg" class="img-responsive" alt="">
                    </p>
                    <div class="caption">
                        <div class="blur"></div>
                        <div class="caption-text">
                            <h3>Orchard Lending Club</h3>
                            <p>Orchard lending club helps grow your savings by funding Insurance Brokers, Schools,
                                Accounting and Legal Professionals or their clients in UK.</p>
                            <a class="btn btn-default" href="https://www.orchardfunding.co.uk/" target="_blank"><span
                                    class="glyphicon glyphicon-link"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="cuadro_intro_hover">
                    <p>
                        <img src="images/portfolio/portfolio-pic-1.jpg" class="img-responsive" alt="">
                    </p>
                    <div class="caption">
                        <div class="blur"></div>
                        <div class="caption-text">
                            <h3>Cinemazoo</h3>
                            <p>Cinemazoo is an animal booking agency based in metro Vancouver, providing talented
                                animals for media production firms &amp; events.</p>
                            <a class="btn btn-default" href="https://www.cinemazoo.com" target="_blank"><span
                                    class="glyphicon glyphicon-link"></span></a>
                        </div>
                    </div>
                </div>
                <div id="mobileapp"></div>
            </div>
        </div> -->
        <div class="row text-center pdngTop40">
            <div class="heading">
                <h6>Mobile Applications Development</h6>
                <div class="span"><span class="red"></span><span class="black"></span></div>
                <p class="paddingB15">Our proficiency with mobile application development is at par with best in
                    industry. Be it native application development for Android &amp; iOS platforms or hybrid
                    applications using Ionic, Xamarin or Cordova frameworks, you can assure yourself to get best results
                    from our mobile application development team.</p>
                <p class="paddingB15">With specialized and dedicated work flow designers and UX developers for mobile
                    applications, your customers experience intuitive, well defined and easier to use applications.
                    Right from concept evolution, design, programming, quality assurance to publishing on App stores you
                    can count on our experience.</p>

            </div>
        </div>
        <!-- <div class="row clearfix">
            <div class="col-md-3 col-sm-6">
                <div class="cuadro_intro_hover">
                    <p>
                        <img src="images/portfolio/mobile-app-1.jpg" class="img-responsive" alt="">
                    </p>
                    <div class="caption">
                        <div class="blur"></div>
                        <div class="caption-text">
                            <h3>Straw App</h3>
                            <p>Straw is an easy, troll-free polling app that helps you get advice and opinions from your
                                friends, followers and other internet users.</p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="cuadro_intro_hover">
                    <p>
                        <img src="images/portfolio/mobile-app-2.jpg" class="img-responsive" alt="">
                    </p>
                    <div class="caption">
                        <div class="blur"></div>
                        <div class="caption-text">
                            <h3>Wireless Tracking System</h3>
                            <p>This App enables you to add, configure &amp; track your tracker's location directly from
                                your android/iOS devices all at one place.</p>
                            <a class="btn btn-default"
                                href="https://play.google.com/store/apps/details?id=com.wirelesstracking&amp;hl=en"
                                target="_blank"><span class="glyphicon glyphicon-link"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="cuadro_intro_hover">
                    <p>
                        <img src="images/portfolio/mobile-app-3.jpg" class="img-responsive" alt="">
                    </p>
                    <div class="caption">
                        <div class="blur"></div>
                        <div class="caption-text">
                            <h3>Bunny App</h3>
                            <p>Bunny app is an online lotto game for bingo lovers with classic rules, addictive graphics
                                &amp; awesome prizes for the lucky winner. </p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="cuadro_intro_hover">
                    <p>
                        <img src="images/portfolio/mobile-app-4.jpg" class="img-responsive" alt="">
                    </p>
                    <div class="caption">
                        <div class="blur"></div>
                        <div class="caption-text">
                            <h3>History App</h3>
                            <p>History app has thousands of reliable &amp; interesting information/facts of ancient
                                people, groups, events &amp; places gathered through highest quality history resources.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="row text-center pdngTop40" id="cms">
            <div class="heading">
                <h6>Content Management Solutions</h6>
                <div class="span"><span class="red"></span><span class="black"></span></div>
                <p class="paddingB15">We provide content management solutions that help our clients grow their business
                    portals and websites enabling them to reach the loyal target audience. By leveraging the power of
                    latest available CMS frameworks we are able to develop websites with faster &amp; optimized page
                    load times &amp; having easy management of digital content.</p>
                <p class="paddingB15">Our technical expertise includes setting up eCommerce portals with Open Cart,
                    Magento or Joomla, setting up theme based websites using WordPress, developing &amp; integrating
                    various useful plugins &amp; extensions for WordPress based websites.</p>

            </div>
        </div>
        <!-- <div class="row clearfix">
            <div class="col-md-3 col-sm-6">
                <div class="cuadro_intro_hover">
                    <p>
                        <img src="images/portfolio/cms-1.jpg" class="img-responsive" alt="">
                    </p>
                    <div class="caption">
                        <div class="blur"></div>
                        <div class="caption-text">
                            <h3>Balmain Care For Kids</h3>
                            <p>
                                Balmain care for kids is an early education center &amp; after school care for kids to
                                learn, play, feel safe, and grow while their parents are away.
                            </p>
                            <a class="btn btn-default" href="http://balmaincareforkids.com.au" target="_blank"><span
                                    class="glyphicon glyphicon-link"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="cuadro_intro_hover">
                    <p>
                        <img src="images/portfolio/cms-2.jpg" class="img-responsive" alt="">
                    </p>
                    <div class="caption">
                        <div class="blur"></div>
                        <div class="caption-text">
                            <h3>J J Taylor</h3>
                            <p>
                                J.J. is a beer distributor serving the Brockton area of Massachusetts, also operating
                                distributorships in Minnesota &amp; Florida.
                            </p>
                            <a class="btn btn-default" href="http://www.jjtaylor.com/" target="_blank"><span
                                    class="glyphicon glyphicon-link"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="cuadro_intro_hover">
                    <p>
                        <img src="images/portfolio/cms-3.jpg" class="img-responsive" alt="">
                    </p>
                    <div class="caption">
                        <div class="blur"></div>
                        <div class="caption-text">
                            <h3>Happy Fish</h3>
                            <p>Happy fish is a swim school that offers swimming lessons for people of all ages &amp;
                                standards, with experienced coaches and confirmed safety.</p>
                            <a class="btn btn-default" href="http://www.swimminglessons.com.sg/" target="_blank"><span
                                    class="glyphicon glyphicon-link"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="cuadro_intro_hover">
                    <p>
                        <img src="images/portfolio/cms-4.jpg" class="img-responsive" alt="">
                    </p>
                    <div class="caption">
                        <div class="blur"></div>
                        <div class="caption-text">
                            <h3>Clover</h3>
                            <p>
                                Clover develops an eco-friendly, fast, Lightweight, powerful &amp; a radical form of
                                transport for everyone’s betterment of daily travel.
                            </p>
                            <a class="btn btn-default" href="http://www.bclover.com/" target="_blank"><span
                                    class="glyphicon glyphicon-link"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="row text-center pdngTop40" id="uidesigns">
            <div class="heading">
                <h6>UI/UX Designs</h6>
                <div class="span"><span class="red"></span><span class="black"></span></div>
                <p class="paddingB15">We know the prominence of having a good design and user interface for your web
                    based or mobile application. Give your customers and visitors, the feel to interact and virtual
                    touch your product listings or showcase your business services in way which attract &amp; catches
                    their precious attention, which ultimately turns as a lead and sale for your business.</p>
                <p class="paddingB15">Our highly experienced creative team comes up with thoughtful, interactive, modern
                    looking designs which are absolute fit to your online or offline brand presence. Some of the
                    frameworks that we use to achieve these designs are SVG Animation, bootstrap, HTML5/CSS3, jQuery,
                    Sass, &amp;LESS, along with tools from Adobe Creative Cloud.</p>
            </div>
        </div>

        <div class="more_projects" id="contact_here1">
            <div class="container">
                <div class="row text-center">
                    <h4 id="showform">Let’s start<strong class="red_text"> your project</strong>?</h4>
                    <p class="small-heading">Please fill-in the below form &amp; we will get back to you within 24 hours
                    </p>
                </div>
            </div>
        </div>
        <div class="apply-form home-apply shw-frm">
            <div id="ctl00_CPHContent_UpdatePanel1">

                <div class="form-group">
                    <input name="ctl00$CPHContent$txtName" type="text" maxlength="150" id="ctl00_CPHContent_txtName"
                        placeholder="Your name" class="form-control"
                        onblur="if(this.placeholder==''){this.placeholder='Your Name'}; return validateEmpty($(this));">
                    <span data-val-controltovalidate="ctl00_CPHContent_txtName" data-val-focusonerror="t"
                        data-val-errormessage="Name is required" data-val-display="Dynamic"
                        data-val-validationgroup="Submit" id="ctl00_CPHContent_req1" class="error-text" data-val="true"
                        data-val-evaluationfunction="RequiredFieldValidatorEvaluateIsValid" data-val-initialvalue=""
                        style="color:Red;display:none;">Name is required</span>
                </div>
                <div class="form-group mar-r-0">
                    <input name="ctl00$CPHContent$txtEmail" type="text" maxlength="150" id="ctl00_CPHContent_txtEmail"
                        placeholder="Your email address" class="form-control"
                        onblur="if(this.placeholder==''){this.placeholder='Your email address'}; return validateRegular($(this));">
                    <span data-val-controltovalidate="ctl00_CPHContent_txtEmail" data-val-focusonerror="t"
                        data-val-errormessage="Email address is required" data-val-display="Dynamic"
                        data-val-validationgroup="Submit" id="ctl00_CPHContent_RequiredFieldValidator1"
                        class="error-text" data-val="true"
                        data-val-evaluationfunction="RequiredFieldValidatorEvaluateIsValid" data-val-initialvalue=""
                        style="color:Red;display:none;">Email address is required</span>
                    <span data-val-controltovalidate="ctl00_CPHContent_txtEmail" data-val-focusonerror="t"
                        data-val-errormessage="Enter valid email address" data-val-display="Dynamic"
                        data-val-validationgroup="Submit" id="ctl00_CPHContent_RegularExpressionValidator1"
                        class="error-text" data-val="true"
                        data-val-evaluationfunction="RegularExpressionValidatorEvaluateIsValid"
                        data-val-validationexpression="\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*"
                        style="color:Red;display:none;">Enter valid email address</span>
                </div>
                <div class="form-group">
                    <input name="ctl00$CPHContent$txtPhoneNumber" type="text" maxlength="15"
                        id="ctl00_CPHContent_txtPhoneNumber" placeholder="Your phone number" class="form-control"
                        onblur="if(this.placeholder==''){this.placeholder='Your phone number'}; return validatePhoneRegular($(this));">
                    <span data-val-controltovalidate="ctl00_CPHContent_txtPhoneNumber" data-val-focusonerror="t"
                        data-val-errormessage="Enter valid phone number" data-val-display="Dynamic"
                        data-val-validationgroup="Submit" id="ctl00_CPHContent_RegularExpressionValidator2"
                        class="error-text" data-val="true"
                        data-val-evaluationfunction="RegularExpressionValidatorEvaluateIsValid"
                        data-val-validationexpression="^(\(|\d||\.|\+| |-|\))*$" style="color:Red;display:none;">Enter
                        valid phone number</span>
                </div>

                <div class="message">
                    <textarea name="ctl00$CPHContent$txtMessage" rows="5" cols="20" id="ctl00_CPHContent_txtMessage"
                        placeholder="Message" class="form-control"
                        onblur="if(this.placeholder==''){this.placeholder='Message'}; return validateEmpty($(this));"></textarea>
                    <span data-val-controltovalidate="ctl00_CPHContent_txtMessage" data-val-focusonerror="t"
                        data-val-errormessage="Message is required" data-val-display="Dynamic"
                        data-val-validationgroup="Submit" id="ctl00_CPHContent_RequiredFieldValidator2"
                        class="error-text" data-val="true"
                        data-val-evaluationfunction="RequiredFieldValidatorEvaluateIsValid" data-val-initialvalue=""
                        style="color:Red;display:none;">Message is required</span>
                </div>
                <button type="button" class="btn btn-primary" style="margin-top: 2%;">Send</button>

                <p class="success-msg">

                </p>


            </div>

        </div>



    </div>
    <input type="hidden" name="ctl00$CPHContent$hdnToken" id="hdnToken"
        value="03AGdBq251FkXa_JslsW8VKxvkBN6_kTS8wlpVrc0QYC5wa5rhT5e0wM6N9LGPS0BKebdDPXSyq3coDuWATqInlaOQ218R14yWmjZF8GoE3cjEBxXA1RSECQmd___8kGF3X9OINTXrFE_V21bvzoF1FTZdIA4Hpspo0ra3r3U5w98b0zBeDbkZo0GcY_A0JL5UhabANT3MwvZAya0c4KHwrMfCKBu54Iqf889qPXnzxqFenigbm2Xq5FHKEGxZ_6uqGV_p6cRQU9T2CK6MsCRzt_LbsLcK_F9UJjdFWg8sKBcHH3A4n8JG-0h5OKvdF5d2Ky8Ds1URQeotDyV0KhjTLgfihGJoWpoQhAvrIdMjkHFmPLmWiv9jhOevgTfru4fPV9pcllQ_VPIJrpc_S3nP8c8UKo09FhYWNUZGVivpYhFCIRCcnbNg3xg">

</div>
<div class="image-slider-gallery-sec">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="image-slider-gallery col-12">
                    <div class="slide-item">
                        <div class="animate-img">
                            <img src="assets/images/imgb1.jpg" class="image-fit" alt="">
                        </div>
                    </div>
                    <div class="slide-item">
                        <div class="animate-img">
                            <img src="assets/images/imgb2.jpg" class="image-fit" alt="">
                        </div>
                    </div>
                    <div class="slide-item">
                        <div class="animate-img">
                            <img src="assets/images/imgb3.jpg" class="image-fit" alt="">
                        </div>
                    </div>
                    <div class="slide-item">
                        <div class="animate-img">
                            <img src="assets/images/imgb1.jpg" class="image-fit" alt="">
                        </div>
                    </div>
                    <div class="slide-item">
                        <div class="animate-img">
                            <img src="assets/images/imgb2.jpg" class="image-fit" alt="">
                        </div>
                    </div>
                    <div class="slide-item">
                        <div class="animate-img">
                            <img src="assets/images/imgb3.jpg" class="image-fit" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- End Skillset -->
<app-footer-one></app-footer-one>