<!-- <app-header-one></app-header-one> -->
<section class="services servicepage">
    <div class="container">
        <div class="row">
            <section id="counter_two" class="counter_two">
                <div class="overlay">
                    <div class="container">
                        <div class="row">
                            <div class="main_counter_two sections">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-3 text-center">
                                    <div class="row">

                                    </div>
                                </div>
                                <!-- End off col-sm-3 -->
                                <div class="col-sm-3 text-center">
                                    <div class="row">

                                    </div>
                                </div>
                                <!-- End off col-sm-3 -->
                                <div class="col-sm-3 text-center">
                                    <div class="row">

                                    </div>
                                </div>
                                <!-- End off col-sm-3 -->
                                <div class="col-sm-3 text-center">
                                    <div class="row">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End off row -->
                    </div>
                    <!-- End off container -->
                </div>
                <!-- End off overlay -->
            </section>
            <!-- End off Counter section -->
        </div>
        <div class="row">
            <div class="heading">
                <br>
                <br>

                <!-- <h6>Business Development Executive</h6>
                <p class="span"><span class="red"></span><span class="black"></span></p>
                <br> -->
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-6" style="margin-top: 2%;">
                            <h4>Senior Web UI/UX Designer<br>Job Description</h4>
                          
                           
                          
                            <h5>Job Description</h5>
                            <div class="container">
                                <ul class="list-group">

                                  <li> To design & develop web pages, graphics, multimedia, GUIs </li>
                                  <li>Manage & update website contents </li>
                                  <li> To Upload the site onto a server & register it with different search engines</li>
                                  <li> Collaborate with writers and technical teams</li>
                                  <li>Integrate UI/UX best practices </li>
                                </ul>
                            </div>
                            <h5>Experience</h5>
                            <p>1-2 years experience as Web UI/UX Designer</p>
                            <h5> Keyskills:</h5>
                            <p>Proficient with design tools such as Corel draw, Photoshop, Illustrator, Adobe XD, Sketch, HTML, Bootstrap, Javascript</p>
                            <h5>Desired Candidate Profile</h5>
                            <h5>Education:</h5>
                            <p>B.Tech/B.E., Diploma- Graphic/Web designing, B.Sc, B.C.A, B.Com></p>
                            <h5>Profile Requisites:</h5>
                             <div class="container">
                               
                                 <ul class="list-group">
                                    
                                     
                                    <li> Exposure in Photoshop, Illustrator, Adobe XD, Sketch, HTML, Bootstrap </li>
                                    <li> In sync with recent design standards & trends </li>
                                    <li> Understanding of user experience, usability & responsive web design </li>
                                    <li> Good Design Sense, Innovative in Conceptualising New Ideas </li>
                                   
                                   
                                   
                                   
                                   
 
                                   </ul>
                             </div>
                             <p>Interested candidates should submit a completed resume and cover letter to   <a href="mailto:hr@senwellsys.com" class="text-blue" >
                                hr@senwellsys.com
                                  </a></p>
                            <p> <u><a class="backcareer" routerLink='/careers' routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">&lt;&lt; Back to careers</a></u></p>
                           
                           
                        </div>


                        <div class="col-lg-4 col-md-6">
                            <div class="jumbotron" style="background: #95c3f5;">
                                <div class="container">
                
                                    <h3 style="text-align: center;">Apply</h3>
                
                                    <form action="" [formGroup]="ReactCandidate">
                                        <mat-form-field appearance="outline" class="width_of_input">
                                            <mat-label>Name</mat-label>
                                            <input matInput formControlName="name" />
                                            <!-- <mat-error *ngIf=""></mat-error>Required</mat-error> -->
                                            <mat-error *ngIf="ReactCandidate.get('name').invalid">
                                                Please enter valid Name
                                            </mat-error>
                                        </mat-form-field>
                                         <mat-form-field appearance="outline" class="Email" class="width_of_input">
                                            <mat-label>Email</mat-label>
                                            <input matInput formControlName="Email" />
                                            <mat-error *ngIf="ReactCandidate.get('Email').invalid">
                                                Please enter a valid email address
                                            </mat-error>
                
                                        </mat-form-field>
                
                
                                        <mat-form-field appearance="outline" class="InputBox" class="width_of_input">
                                            <mat-label>Company </mat-label>
                                            <input matInput formControlName="Company" />
                                            <mat-error *ngIf="ReactCandidate.get('Company').invalid">
                                                Please enter a company name
                                            </mat-error>
                
                                        </mat-form-field>
                
                                        <mat-form-field appearance="outline" class="InputBox" class="width_of_input">
                                            <mat-label>CTC</mat-label>
                                            <input matInput formControlName="CTC" />
                                            <mat-error *ngIf="ReactCandidate.get('CTC').invalid">
                                                Please enter a valid CTC
                                            </mat-error>
                                        </mat-form-field>
                
                
                
                                        <mat-form-field appearance="outline" class="width_of_input">
                                            <mat-label>Experience</mat-label>
                                            <mat-select formControlName="dropDown" name="food">
                                                <mat-option *ngFor="let food of foods" [value]="food.value">
                                                    {{food.viewValue}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                
                                        <div class="files">
                                            <input type="file" class="upload-box" (change)="uploadCandidateCv($event)" formControlName="file"/>
                                        </div>
                
                                       <button mat-raised-button color="primary" (click)="saveReactcandidate()"  [disabled]="!ReactCandidate.valid">Submit</button>
                 
                
                
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      


    </div>
</section>
<app-footer-one></app-footer-one>