<app-header-one></app-header-one>
<!-- Start Subheader -->
<div class="normal-bg subheader" style="background-image: url('assets/images/serviceimg.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="subheader-content">
                    <!-- <h1 class="page-title text-custom-white fw-600">About Us</h1> -->
                    <!-- <ul class="custom-flex breadcrumb">
                        <li><a routerLink='/'>Home</a></li>
                        <li>About Us</li>
                    </ul> -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Subheader -->
<!-- Start About us -->
<section class="section-padding-bottom">
    <div class="top-about-sec">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="about-wrap-box">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="container">
        <div class="row">
            <div class="col-sm">
                <p class="big_content">Senwell Solution is specialized in Design, Development &amp; Maintenance of Web
                    &amp; Moblie Applications.</p>

            </div>
            <div class="col-sm">
                <p>We understand that the future comes hand in hand with technology, making it a key tool to improve
                    processes, communicate better, reduce costs and streamline tasks. Information and Communication
                    Technologies allow us to optimize company processes and seek specific answers adapted to each
                    business. </p>
                <p>Our way of working is based on creating tailor-made solutions for each client, which implies that we
                    are capable of adapting to the demands of any project and company.</p>
                <p>We take care of bringing digital transformation closer to companies through technological trends.</p>

            </div>
        </div>
    </div> -->

    <section class="services servicepage">
        <div class="container">
            <div class="row">
                <section id="counter_two" class="counter_two">
                    <div class="overlay">
                        <div class="container">
                            <div class="row">
                                <div class="main_counter_two sections">

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-3 text-center">
                                        <div class="row">

                                        </div>
                                    </div>
                                    <!-- End off col-sm-3 -->
                                    <div class="col-sm-3 text-center">
                                        <div class="row">

                                        </div>
                                    </div>
                                    <!-- End off col-sm-3 -->
                                    <div class="col-sm-3 text-center">
                                        <div class="row">

                                        </div>
                                    </div>
                                    <!-- End off col-sm-3 -->
                                    <div class="col-sm-3 text-center">
                                        <div class="row">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End off row -->
                        </div>
                        <!-- End off container -->
                    </div>
                    <!-- End off overlay -->
                </section>
                <!-- End off Counter section -->
            </div>
            <div class="row">
                <div class="heading">
                    <br>
                    <br>

                    <h6>What are Software Development Services?</h6>
                    <div class="span"><span class="red"></span><span class="black"></span></div>
                    <br>
                    <p>Software development is an amalgamation of several activities like designing, testing,
                        programming, planning, bug fixing & more, which allow development & maintenance of an
                        application or software. This simple yet important process is augmenting & enhancing
                        globalization, as well as changing our lifestyle. In this tech-savvy world, software development
                        & advancement is helping businesses, small & large, reach great heights of success. Moreover,
                        several organizations around the world are offering software development services, which assist
                        companies to stay agile, innovation-oriented & to effectively manage the changes in the market.
                        Other benefits of software development are:
                    </p>

                </div>
                <div>
                    <div>
                        <ul>
                            <li>Cost reduction: training, licenses, upgrades &amp; more.</li>
                            <li>Boosts productivity.</li>
                            <li>Increases company value.</li>
                            <li>Enhances flexibility.</li>
                            <li>Offers competitive advantages.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="heading">
                    <br>
                    <br>

                    <h6>Best Software Development Company</h6>
                    <div class="span"><span class="red"></span><span class="black"></span></div>
                    <br>
                    <p>If you are searching for pre-eminent software development companies, Senwell Solutions is the place for
                        you.We offer innovative, agile & competitive services for
                        custom software & application development. Our development team’s dedication & adeptness help us
                        deliver attractive & innovative mobile apps & software applications that simplify various
                        business processes. We offer optimum solutions that simplify the development process
                        applications with big data.
                    </p>
                </div>

            </div>

            <div class="row">
                <div class="heading">
                    <br>
                    <br>

                    <h6>Our Top Notch Offshore Software Development Services</h6>
                    <div class="span"><span class="red"></span><span class="black"></span></div>
                    <br>
                    <p>Senwell Solutions is providing next level business software development services.
                        With our
                        objective of designing and developing quality software products, we offer a variety of
                        development services that cater to various software project requirements. From start-ups to
                        large-scale organizations, our developers can work with any development project.
                    </p>
                </div>

            </div>
        </div>
    </section>
    <!-- <div class="counter-sec-2 style-2 count-section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="counter-box">
                        <div class="row">
                            <div class="col-lg-3 col-sm-6">
                                <div class="counter-with-icon mb-md-40">
                                    <div class="icon text-orange">
                                        <i class="flaticon-men-group-outline"></i>
                                    </div>
                                    <div class="counter-text">
                                        <span class="count">5000</span><span><i class="fal fa-plus"></i></span>
                                        <p class="no-margin fw-500">Case Solved</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="counter-with-icon mb-md-40">
                                    <div class="icon text-orange">
                                        <i class="flaticon-trophy"></i>
                                    </div>
                                    <div class="counter-text">
                                        <span class="count">120</span><span><i class="fal fa-plus"></i></span>
                                        <p class="no-margin fw-500">Get Rewards</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="counter-with-icon mb-xs-40">
                                    <div class="icon text-orange">
                                        <i class="flaticon-coffee"></i>
                                    </div>
                                    <div class="counter-text">
                                        <span class="count">4921</span><span><i class="fal fa-plus"></i></span>
                                        <p class="no-margin fw-500">Cup Coffee</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="counter-with-icon">
                                    <div class="icon text-orange">
                                        <i class="flaticon-remote"></i>
                                    </div>
                                    <div class="counter-text">
                                        <span class="count">100</span><span><i class="fal fa-plus"></i></span>
                                        <p class="no-margin fw-500">Country Cover</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</section>
<!-- End About us -->
<section class="our-values-sec">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="values-block mb-md-30">
                    <div class="values-block-inner">
                        <div class="icon">
                            <i class="flaticon-global"></i>
                        </div>
                        <h3 class="fw-600">Backend Development Services</h3>
                        <p class="fw-500 fs-16">Web back-end is the invisible backbone that connects and interconnects
                            various parts of a software application. Without effective & efficient back-end web
                            development your customer cannot have a good experience on your website. Hence, to help you
                            avoid such a scenarios, Senwell Solutions offers comprehensive backend development services. Using
                            our knowledge in various languages & frameworks we process & manage data efficiently.
                        </p>
                    </div>

                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="values-block mb-md-30">
                    <div class="values-block-inner">
                        <div class="icon">
                            <i class="flaticon-box-1"></i>
                        </div>
                        <h3 class="fw-600">Frontend Development Services </h3>
                        <p class="fw-500 fs-16">Attractive, interactive & visually appealing web front-end pages are
                            crucial for the success of a business. These, not only reflect the purpose of an
                            organisation & company, but are also responsible for successful branding and gaining the
                            trust & confidence of the visitor. Therefore, to help you achieve these goals effortlessly,
                            we offer front-end & UI development services, with exceptional usability, dependability & UX
                            design.

                        </p>
                    </div>

                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="values-block">
                    <div class="values-block-inner">
                        <div class="icon">
                            <i class="flaticon-innovation"></i>
                        </div>
                        <h3 class="fw-600">Mobile Apps Development Services</h3>
                        <p class="fw-500 fs-16">Today mobile apps are revolutionizing the tech world, getting an easy to
                            use, user friendly & highly dynamic mobile app is extremely important. Mobile apps not only
                            simplify our day-to-day activities, but they also help small & large scale organisations
                            reach a vast array of users all around the world. To help you connect with global customers
                            and to provide you best solutions & strategies, we offer state-of-the-art app development
                            services.</p>
                    </div>

                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="values-block">
                    <div class="values-block-inner">
                        <div class="icon">
                            <i class="flaticon-global"></i>
                        </div>
                        <h3 class="fw-600">Dot Net Development Services</h3>
                        <p class="fw-500 fs-16">Get expert assistance, feature-rich and captivating native & cross
                            platform web & mobile apps that will boost your business and help you reach great heights of
                            success. By harnessing our Microsoft expertise, you can enjoy full cycle software &
                            application development for web & desktop applications. Our developers offer reliable &
                            scalable, high end apps using C#, ASP.Net MVC & more.

                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="services servicepage" style="margin-bottom: 5%;">
    <div class="container">
        <div class="row">
            <div class="heading" style="margin-top: 5%;">
                <br>
                <br>
             <h6>Advantages with Our Custom Software Development Services</h6>
                <div class="span"><span class="red"></span><span class="black"></span></div>
                <br>
                <p>At Senwell Solutions, our adept & dexterous software developers work round the clock to offer competent
                    solutions & services for multifarious business requirements. Our custom software development
                    services allow us to transform your digital dreams into reality by building goal oriented &
                    personalised software and applications.
                </p>
            </div>
            <div class="wpb_wrapper">
<ul>
<li>Get personalised solutions.</li>
<li>Tailor made application development services.</li>
<li>Increased security &amp; protection.</li>
<li>Exceptional flexibility.</li>
<li>Compatible applications.</li>
<li>Round the clock maintenance &amp; support.</li>
</ul>
</div>

        </div>
    </div>
</section>


<!-- End Progress bar -->
<!-- Slider gallery -->
<div class="image-slider-gallery-sec">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="image-slider-gallery col-12">
                    <div class="slide-item">
                        <div class="animate-img">
                            <img src="assets/images/imgb1.jpg" class="image-fit" alt="">
                        </div>
                    </div>
                    <div class="slide-item">
                        <div class="animate-img">
                            <img src="assets/images/imgb2.jpg" class="image-fit" alt="">
                        </div>
                    </div>
                    <div class="slide-item">
                        <div class="animate-img">
                            <img src="assets/images/imgb3.jpg" class="image-fit" alt="">
                        </div>
                    </div>
                    <div class="slide-item">
                        <div class="animate-img">
                            <img src="assets/images/imgb1.jpg" class="image-fit" alt="">
                        </div>
                    </div>
                    <div class="slide-item">
                        <div class="animate-img">
                            <img src="assets/images/imgb2.jpg" class="image-fit" alt="">
                        </div>
                    </div>
                    <div class="slide-item">
                        <div class="animate-img">
                            <img src="assets/images/imgb3.jpg" class="image-fit" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Slider gallery -->
<!-- Start brand slider -->
<!-- <div class="section-padding clients bg-orange">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="brand-slider row">
                    <div class="slide-item col-12">
                        <a href="#" class="brand-box">
                            <img src="assets/images/client-1.png" class="image-fit" alt="">
                        </a>
                    </div>
                    <div class="slide-item col-12">
                        <a href="#" class="brand-box">
                            <img src="assets/images/client-2.png" class="image-fit" alt="">
                        </a>
                    </div>
                    <div class="slide-item col-12">
                        <a href="#" class="brand-box">
                            <img src="assets/images/client-3.png" class="image-fit" alt="">
                        </a>
                    </div>
                    <div class="slide-item col-12">
                        <a href="#" class="brand-box">
                            <img src="assets/images/client-4.png" class="image-fit" alt="">
                        </a>
                    </div>
                    <div class="slide-item col-12">
                        <a href="#" class="brand-box">
                            <img src="assets/images/client-5.png" class="image-fit" alt="">
                        </a>
                    </div>
                    <div class="slide-item col-12">
                        <a href="#" class="brand-box">
                            <img src="assets/images/client-1.png" class="image-fit" alt="">
                        </a>
                    </div>
                    <div class="slide-item col-12">
                        <a href="#" class="brand-box">
                            <img src="assets/images/client-2.png" class="image-fit" alt="">
                        </a>
                    </div>
                    <div class="slide-item col-12">
                        <a href="#" class="brand-box">
                            <img src="assets/images/client-3.png" class="image-fit" alt="">
                        </a>
                    </div>
                    <div class="slide-item col-12">
                        <a href="#" class="brand-box">
                            <img src="assets/images/client-4.png" class="image-fit" alt="">
                        </a>
                    </div>
                    <div class="slide-item col-12">
                        <a href="#" class="brand-box">
                            <img src="assets/images/client-5.png" class="image-fit" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- End brand slider -->
<!-- Start Blog -->
<!-- <section class="section-padding">
    <div class="container">
        <div class="section-header">
            <div class="section-heading">
                <h6 class="text-orange mb-xl-10 sub-heading"><span>News</span></h6>
                <h3 class="text-blue fw-700 title">Get connect with us<span class="text-orange">.</span></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="blog-slider row">
                    <div class="col-lg-12 slide-item">
                        <div class="blog-style-1">
                            <div class="post-img animate-img">
                                <a routerLink='/news-detail'>
                                    <img src="assets/images/blog-1.jpg" class="image-fit" alt="">
                                </a>
                            </div>
                            <div class="post-date">
                                <span class="date">24</span>
                                <span class="month">June</span>
                            </div>
                            <div class="post-content">
                                <div class="post-category">
                                    <p class="double-lines text-orange fw-600 mb-1"><span><a href="#"
                                                class="text-orange">Finance</a></span></p>
                                </div>
                                <h2 class="post-title"><a routerLink='/news-detail'>Improving lives with tech HSE
                                        lighthouse project</a></h2>
                                <ul class="custom-flex post-meta">
                                    <li>
                                        <a href="#">
                                            <i class="fal fa-user text-orange"></i>
                                            Rosalia D.
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fal fa-calendar-alt text-orange"></i>
                                            24th June 2020
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 slide-item">
                        <div class="blog-style-1">
                            <div class="post-img animate-img">
                                <a routerLink='/news-detail'>
                                    <img src="assets/images/blog-2.jpg" class="image-fit" alt="">
                                </a>
                            </div>
                            <div class="post-date">
                                <span class="date">18</span>
                                <span class="month">June</span>
                            </div>
                            <div class="post-content">
                                <div class="post-category">
                                    <p class="double-lines text-orange fw-600 mb-1"><span><a href="#"
                                                class="text-orange">Business</a></span></p>
                                </div>
                                <h2 class="post-title"><a routerLink='/news-detail'>Improving lives with tech HSE
                                        lighthouse project</a></h2>
                                <ul class="custom-flex post-meta">
                                    <li>
                                        <a href="#">
                                            <i class="fal fa-user text-orange"></i>
                                            Rosalia D.
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fal fa-calendar-alt text-orange"></i>
                                            18th June 2020
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 slide-item">
                        <div class="blog-style-1">
                            <div class="post-img animate-img">
                                <a routerLink='/news-detail'>
                                    <img src="assets/images/blog-1.jpg" class="image-fit" alt="">
                                </a>
                            </div>
                            <div class="post-date">
                                <span class="date">04</span>
                                <span class="month">June</span>
                            </div>
                            <div class="post-content">
                                <div class="post-category">
                                    <p class="double-lines text-orange fw-600 mb-1"><span><a href="#"
                                                class="text-orange">Consultancy</a></span></p>
                                </div>
                                <h2 class="post-title"><a routerLink='/news-detail'>Improving lives with tech HSE
                                        lighthouse project</a></h2>
                                <ul class="custom-flex post-meta">
                                    <li>
                                        <a href="#">
                                            <i class="fal fa-user text-orange"></i>
                                            Rosalia D.
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fal fa-calendar-alt text-orange"></i>
                                            04th June 2020
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- End Blog -->
<app-footer-one></app-footer-one>