/* .middle-head {
    background-color:#2D4DD8;
} */
.main-nav{
       /* background-color: #258BC9; */
       /* background: linear-gradient(
96.87deg
,#2c73d6,#2365bd); */


background: linear-gradient( 96.87deg,#3494e6,#984937);
    
    height: 70%;
    margin-top: 32px;
    border-radius: 10px;
}
.image {
    width: 53%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
a {
    color: #14212b;
    text-decoration: none;
    transition: 0.5s;
    color: white;
}
.custom{
    background-color: #0026B5;
}
/* .name{

    
    color: black;
    font-family: rubik;
    margin-left: 57%;
    margin-top: -49%;
    font-size: 42px;
    vertical-align: middle;
    width: 144%;
    font-weight: 600;
} */

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    width: 443%;
    margin-left: -158%;
}

.imageHight{
    width: 50%;
    
    border:3px solid white;
}
/* .subname{
   
   
    margin-left: 94%;
    font-size: 17px;
    width: 134%;
    margin-top: -7%;
} */
.btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
    font-size: 18px;
  }
  
  
  /* .active, .btn:hover {
    background-color: rgb(28, 12, 243);
    color: white;
    
  } */
.header .navigation .main-menu>.menu-item>a {
    font-size: 16px;
    font-weight: 600;
    line-height: 90px;
    display: inline-flex;
    padding: 0 30px;
    cursor: pointer;
}
.logo1{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    /* border-radius: 50%; */
    /* z-index: 2 */
}
.backg {
    
    background-image: linear-gradient(to right, #ffffff, #e4e5f6, #c2ceef, #97b9e7, #5ea6dd);
}
.name{
    /* font-size: 28px;
    font-weight: 600;
    margin-top: 5%; */
    font-size: 28px;
    font-weight: 600;
    margin-top: -4%;
    margin-left: -4%;
} 
.subname {
    font-size: 14px;
    font-weight: 500;
    margin-left: 21%;
    margin-top: -13px;
    color: #a9a9a9;
}


/* @media only screen and (max-width: 411px) {
    .name {
        
            color: black;
            font-family: rubik;
            margin-left: 57%;
            margin-top: -41%;
            font-size: 42px;
            vertical-align: middle;
            width: 144%;
            font-weight: 600;    
    }
   
    .subname {
      font-size: 9px;
    }
}








@media only screen and (max-width: 414px) {
    
    .subname {
        margin-left: 70%;
    }
}



/* */
 /* @media only screen and (max-width: 540px) {  

 } */


/* @media only screen and (min-width: 768px) {
    .image{
       
        margin-bottom: 11%;
    }
}
  */
/* @media only screen and (min-width:600px) {
    .name{
        font-size: 15px;
       
    } 
    .subname{
        font-size: 14px;
        
    }
    .logo1 {
        height: 100%;
        width: 58%;
        
    }
}
[class*="col-"] {
    width: 100%;
  } */
  
  body {margin:0;}
  
  /* .navigation {
    overflow: hidden;
    background-color: #f1f1f1;
  } */
  
  .navigation a {
    /* float: left; */
    /* display: block; */
    /* color: black; */
    /* text-align: center; */
    /* padding: 14px 16px; */
    text-decoration: none;
    /* font-size: 17px; */
    /* border-bottom: 2px solid transparent; */
  }
  
  .navigation a:hover {
    border-bottom: 3px solid #ffff;
}

  
  
  .navigation a.active {
    border-bottom: 3px solid #ffff;
}
.theme-btn.btn-orange {
    color: #fff;
    background-color: #5d6066;
}
  
  