<!-- Start Header -->
<header class="header">
    <!-- topbar -->
    <div class="topbar bg-dark-blue">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <ul class="custom-flex left-side">
                        <li>
                            <select class="custom-select form-control form-control-custom mb-0">
                                <option>English</option>
                                <option>German</option>
                                <option>French</option>
                            </select>
                        </li>
                        <!-- <li>
                            <a href="#" class="text-custom-white">Get Job Alert <i class="fal fa-briefcase"></i></a>
                        </li> -->
                    </ul>
                </div>
                <div class="col-lg-8 col-sm-6">
                    <div class="right-side">
                        <!-- <p class="no-margin text-custom-white">Bespoke Solutions Tailored to Your Business. <a href="#" class="text-orange fw-500">Free Counsultancy</a></p> -->
                        <ul class="custom-flex">
                            <li>
                               
                                <a href="https://www.facebook.com/Senwell-Solution-104297181871474/?ref=pages_you_manage" target="_blank" rel="noopener noreferrer" class="text-custom-white">
                                    <i class="fab fa-facebook-f"></i>
                                    </a>
                            </li>
                            <li>
                                
                                    <a href="https://twitter.com/Senwell15" target="_blank" rel="noopener noreferrer" class="text-custom-white">
                                        <i class="fab fa-twitter"></i>
                                        
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/company/senwell-soutions-llp/" target="_blank" rel="noopener noreferrer" class="text-custom-white">
                                    <i class="fab fa-linkedin"></i>
                                </a>
                            </li>
                            <!-- <li>
                                <a href="#" class="text-custom-white">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- middle sec -->
    <div class="middle-head bg-light-white" style="background-color: white;">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 col-6 class"  >
                    
                      
                  
                            <!-- <img src="assets/images/senwell_logo.png" class="image " alt="">
                            <div class="hedline">
                            <div class="name">Senwell Solutions</div>
                            <div class="subname">Empowered by Innovation...</div>
                            </div>  -->
                             <!-- <div class="container"> -->
                                <div class="row">
                                  <div class="col-lg-4 ">
                                    <img src="assets/images/senwell_logo.png" class="logo1 " alt="">
                                  </div>
                                  <div class="col-lg-7 ">
                                    <div class="name">Senwell Solutions</div>
                                    <div class="subname">Empowered by Innovation...</div>
                                  </div>
                                </div>
                              <!-- </div>  -->
               
                    
                    
                </div>
                <!-- <div class="col-lg-2 col-6 class" >
                    
                      
                  
                    <img src="assets/images/senwell_logo.png" class="image " alt="">
                   
       
            
            
        </div> -->
                <div class="col-lg-7 col-6">
                    <div class="right-side">
                        <ul class="custom-flex">
                          
                            <li>
                                <a href="#" class="text-blue" style="color: #14212b;">
                                    <i class="fal fa-envelope text-orange"></i>
                                    info@senwellsys.com
                                </a>
                            </li>
                            <li>
                                <a href="#" class="text-blue" style="color: #14212b;">
                                    <i class="fal fa-phone text-orange"></i>
                                    +91 76960 68917
                                </a>
                            </li>
                        </ul>
                        <a routerLink='/contact' class="theme-btn btn-orange">Contact Us<i
                                class="fal fa-plus"></i></a>
                    </div>
                    <div class="hamburger-btn">
                        <div class="menu-btn">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- navigation -->
    <div class="navigation">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="main-nav">
                        <nav>
                            <ul class="custom-flex main-menu text-custom-white ">
                                <li class="menu-item  ">
                                    <!-- <a href="#">Home</a> -->
                                    <a routerLink='/' routerLinkActive="active"
                                        [routerLinkActiveOptions]="{exact: true}">Home</a>
                                    <!-- <ul class="custom sub-menu ">
                                        <li class="menu-item ">
                                            <a routerLink='/' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Homepage 1</a>
                                        </li>
                                        <li class="menu-item">
                                            <a routerLink='/home-two' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Homepage 2</a>
                                        </li>
                                        <li class="menu-item">
                                            <a routerLink='/home-three' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Homepage 3</a>
                                        </li>
                                    </ul> -->
                                </li>
                                <li class="menu-item">
                                    <a routerLink='/about' routerLinkActive="active"
                                        [routerLinkActiveOptions]="{exact: true}">About Us</a>
                                </li>
                                <li class="menu-item">
                                    <a routerLink='/service-2' routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">Service</a>
                                    <!-- <ul class="custom sub-menu">
                                        <li class="menu-item">
                                            <a routerLink='/service-1' routerLinkActive="active"
                                                [routerLinkActiveOptions]="{exact: true}">Service 1</a>
                                        </li>
                                        <li class="menu-item">
                                            <a routerLink='/service-2' routerLinkActive="active"
                                                [routerLinkActiveOptions]="{exact: true}">Service 2</a>
                                        </li>
                                        <li class="menu-item">
                                            <a routerLink='/service-detail' routerLinkActive="active"
                                                [routerLinkActiveOptions]="{exact: true}">Service Detail</a>
                                        </li>
                                    </ul> -->
                                </li>

                               
                                <li class="menu-item ">
                                    <a routerLink='/portfolio-1' routerLinkActive="active"
                                                [routerLinkActiveOptions]="{exact: true}">Portfolio</a>
                                    <!-- <ul class="custom sub-menu">
                                        <li class="menu-item">
                                            <a routerLink='/shop' routerLinkActive="active"
                                                [routerLinkActiveOptions]="{exact: true}">Service</a>
                                        </li>
                                        <li class="menu-item">
                                            <a routerLink='/shop-detail' routerLinkActive="active"
                                                [routerLinkActiveOptions]="{exact: true}">Shop Detail</a>
                                        </li>
                                        <li class="menu-item">
                                            <a routerLink='/portfolio-1' routerLinkActive="active"
                                                [routerLinkActiveOptions]="{exact: true}">Portfolio 1</a>
                                        </li>
                                        <li class="menu-item">
                                            <a routerLink='/portfolio-2' routerLinkActive="active"
                                                [routerLinkActiveOptions]="{exact: true}">Portfolio 2</a>
                                        </li>
                                        <li class="menu-item">
                                            <a routerLink='/project-detail' routerLinkActive="active"
                                                [routerLinkActiveOptions]="{exact: true}">Project Detail</a>
                                        </li>
                                        <li class="menu-item">
                                            <a routerLink='/team' routerLinkActive="active"
                                                [routerLinkActiveOptions]="{exact: true}">Team</a>
                                        </li>
                                        <li class="menu-item">
                                            <a routerLink='/careers' routerLinkActive="active"
                                                [routerLinkActiveOptions]="{exact: true}">Careers</a>
                                        </li>
                                    </ul> -->
                                </li>
                                <li class="menu-item ">
                                    <a routerLink='/service-1' routerLinkActive="active"
                                                [routerLinkActiveOptions]="{exact: true}">How we Work</a>
                                    <!-- <ul class="custom sub-menu">
                                        <li class="menu-item">
                                            <a routerLink='/news-grid' routerLinkActive="active"
                                                [routerLinkActiveOptions]="{exact: true}">News Grid</a>
                                        </li>
                                        <li class="menu-item">
                                            <a routerLink='/news-standard' routerLinkActive="active"
                                                [routerLinkActiveOptions]="{exact: true}">News Standard</a>
                                        </li>
                                        <li class="menu-item">
                                            <a routerLink='/news-detail' routerLinkActive="active"
                                                [routerLinkActiveOptions]="{exact: true}">News Detail</a>
                                        </li>
                                    </ul> -->
                                </li>
                                <li class="menu-item">
                                    <a routerLink='/careers' routerLinkActive="active"
                                        [routerLinkActiveOptions]="{exact: true}">Careers</a>
                                </li>
                                <li class="menu-item">
                                    <a routerLink='/contact' routerLinkActive="active"
                                        [routerLinkActiveOptions]="{exact: true}">Contact</a>
                                </li>
                               
                              
                            </ul>
                        </nav>
                        <!-- <div class="nav-right">
                            <ul class="custom-flex">
                                <li>
                                    <a href="#">
                                        <i class="fal fa-user"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fal fa-shopping-cart"></i>
                                    </a>
                                </li>
                                <li class="search">
                                    <a href="#">
                                        <i class="fal fa-search"></i>
                                    </a>
                                </li>
                            </ul>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="search-popup" id="search-popup">
            <form action="#" class="search-form">
                <div class="input-group">
                    <input type="text" name="#" class="form-control form-control-custom" placeholder="Search">
                    <div class="input-group-prepend">
                        <button type="submit" class="theme-btn"><i class="fal fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>

        <div id="myDIV">
          </div>
        <div class="body-overlay" id="body-overlay"></div>
    </div>
    <script>
        var header = document.getElementById("myDIV");
var btns = header.getElementsByClassName("btn");
for (var i = 0; i < btns.length; i++) {
  btns[i].addEventListener("click", function() {
  var current = document.getElementsByClassName("active");
  current[0].className = current[0].className.replace(" active", "");
  this.className += " active";
  });
}
    </script>
</header>
<!-- End Header -->