.custom-flex{
    padding: 5px 5px;
}
.main-nav{
    


background: linear-gradient( 96.87deg,#3494e6,#984937);
    
    height: 70%;
    margin-top: 32px;
    border-radius: 10px;
}
.image {
    width: 53%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
a {
    color: #14212b;
    text-decoration: none;
    transition: 0.5s;
    color: white;
}
.custom{
    background-color: #0026B5;
}
/* .name{

    
    color: black;
    font-family: rubik;
    margin-left: 57%;
    margin-top: -49%;
    font-size: 42px;
    vertical-align: middle;
    width: 144%;
    font-weight: 600;
} */

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    width: 443%;
    margin-left: -158%;
}

.imageHight{
    width: 50%;
    
    border:3px solid white;
}
/* .subname{
   
   
    margin-left: 94%;
    font-size: 17px;
    width: 134%;
    margin-top: -7%;
} */
.btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
    font-size: 18px;
  }
  
  
  /* .active, .btn:hover {
    background-color: rgb(28, 12, 243);
    color: white;
    
  } */
.header .navigation .main-menu>.menu-item>a {
    font-size: 16px;
    font-weight: 600;
    line-height: 90px;
    display: inline-flex;
    padding: 0 30px;
    cursor: pointer;
}
.logo1{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    padding-top: 10px;
    padding-bottom: 2px;
    /* border-radius: 50%; */
    /* z-index: 2 */
}
.backg {
    
    
    /* background-color: #101112; */
    
    /* background: linear-gradient(to right, #eff0f1 11%, #19a0b8 58%); */
    /* background: linear-gradient( 96.87deg, #ffffff,#3494e6,#984937); */
    background-image: linear-gradient(to right, #ffffff, #e8e8fa, #ced2f6, #aebef3, #87abef, #869ae5, #8889d8, #8c77ca, #a862a6, #b1517e, #aa4958, #984937);

    
}
.colorForTop{
    /* background-color: rgb(73, 64, 64); */
    background-image: linear-gradient(to right, #ffffff, #e8e8fa, #ced2f6, #aebef3, #87abef, #869ae5, #8889d8, #8c77ca, #a862a6, #b1517e, #aa4958, #984937);

    
}



/* .backgg{
    background-color: black;
} */
.name{
  
    font-size: 28px;
    font-weight: 600;
    margin-top: -6%;
    /* margin-left: -4%; */
} 
.subname {
    font-size: 14px;
    font-weight: 500;
    margin-left: 21%;
    margin-top: -13px;
    color: #a9a9a9;
}
.pos{
    position: relative;
    right: 2vw;
}


  
  body {margin:0;}
  
  
  
  .navigation a {
    
    text-decoration: none;
    
  }
  
  .navigation a:hover {
    border-bottom: 3px solid #ffff;
}

  
  
  .navigation a.active {
    border-bottom: 3px solid #ffff;
}

.theme-btn.btn-orange{
    color: #fff;
    background-color: #5d6066;
    border-radius: 10px;
}
  
  