<app-header-one></app-header-one>
<section class="services servicepage">
    <div class="container">
        <div class="row">
            <section id="counter_two" class="counter_two">
                <div class="overlay">
                    <div class="container">
                        <div class="row">
                            <div class="main_counter_two sections">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-3 text-center">
                                    <div class="row">

                                    </div>
                                </div>
                                <!-- End off col-sm-3 -->
                                <div class="col-sm-3 text-center">
                                    <div class="row">

                                    </div>
                                </div>
                                <!-- End off col-sm-3 -->
                                <div class="col-sm-3 text-center">
                                    <div class="row">

                                    </div>
                                </div>
                                <!-- End off col-sm-3 -->
                                <div class="col-sm-3 text-center">
                                    <div class="row">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End off row -->
                    </div>
                    <!-- End off container -->
                </div>
                <!-- End off overlay -->
            </section>
            <!-- End off Counter section -->
        </div>
        <div class="row">
            <div class="heading">
                <br>
                <br>

                <!-- <h6>Business Development Executive</h6>
                <p class="span"><span class="red"></span><span class="black"></span></p>
                <br> -->
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-sm" style="margin-top: 2%;">
                            <h4>Business Development Executive<br>Job Description</h4>
                            <!-- <p class="span"><span class="red"></span><span class="black"></span></p> -->

                            <p>We are looking for performers with minimum 2-5 years of experience in online bidding, bid
                                Writing, bid preparation, bid analysis, bid process management, proposal drafting &
                                management. The incumbent should have rich experience of acquiring new projects from
                                online bidding websites like Freelancer, Odesk, Elance. The incumbent would be
                                responsible for lead closing & conversion, client response, follow up & account
                                management across US, UK, Australia on Elance, Odesk, Freelancer & Guru.</p>
                            <h5>Experience</h5>
                            <p>2-5 Years experience as Business Development Executive</p>
                            <h5> Keyskills:</h5>
                            <p>Excellent Communication skills, exposure et Odesk, elance and Freelancer etc.</p>
                            <h5>Desired Candidate Profile</h5>
                           <p style="font-size: 17px;"><strong>Roles & Responsibilities:</strong></p> 
                            <div class="container">
                                <ul class="list-group">
                                    <li>Generating business through online freelancing portal likes odesk, elance, freelancer etc. </li>
                                  <li>Setup portfolio on websites and get projects through these websites. </li>
                                  <li> Sound understanding of software requirements like application development, website development, web applications.</li>
                                  <li> Maintain a healthy pipeline of prospects and meeting targets on regular basis.</li>
                                  <li> Interaction and explaining project requirements to Technical team/ BA team.</li>
                                  <li> Excellent client relationship management skills.</li>
                                  <li>Carrying out project analysis & documentation considering contemporary business environment. </li>
                                  <li> Responding to RFIs / RFQs and all other clients’ requests.</li>
                                  <li>Creating all comprehensive proposal detailing and estimates etc. </li>
                                  <li>Targeted business and revenue generation. </li>
                                  <li>Need to interact with global clients over Phone/ Skype and VOIP etc. </li>
                                  <li>Handle complete sales cycle. </li>
                                  <li>Exceptional verbal and written communication skills. </li>
                                  <li> Experience in Negotiating and Closing deals.</li>

                                  </ul>
                            </div>
                            <h5>Profile Requisites:</h5>
                            
                             <div class="container">
                                 <ul class="list-group">
                                     <li> Should be proficient in project analysis and execution. </li>
                                     <li> Strong Interpersonal/Analytical skill. </li>
                                     <li> Good understanding of website/ web application development processes. </li>
                                     <li> Business oriented and comprehensive writing abilities in order to generate various proposals. </li>
                                     <li> Experience in Client communication </li>
                                     <li> Understanding of marketing concepts </li>
                                   
 
                                   </ul>
                             </div>
                            
                           
                        </div>


                        <div class="col-lg-4 col-sm">
                            <form [formGroup]="ReactCandidate">
                                <div class="form-group">
                                    <h6 style="color: white;
                                    font-weight: 600;margin-top: 5%;">Apply Now</h6>

                                    <input type="text" class="form-control" formControlName="name" id="name"
                                        placeholder=" Name ">

                                    

                        
                                </div>

                                <div class="form-group">
                                    <input type="email" class="form-control" id="exampleInputEmail1"
                                        formControlName="email" aria-describedby="emailHelp" placeholder="Email">
                                </div>
                                <div class="form-group">

                                    <!-- <label for="exampleInputEmail1">City</label> -->
                                    <input type="text" class="form-control" formControlName="company" id="name"
                                        placeholder=" Current Company ">
                                </div>
                                <div class="form-group">

                                    
                                    <input type="text" class="form-control" formControlName="ctc" id="name"
                                        placeholder=" Current CTC ">
                                </div>
                                <div class="form-group">

                                    <select class="form-control" id="exampleFormControlSelect1"
                                        formControlName="experience">
                                        <option>Experience</option>
                                        <option value=" 0">0</option>
                                        <option value=" 1">1</option>
                                        <option value=" 2">2</option>
                                        <option value=" 3">3</option>
                                        <option value=" 4">4</option>
                                        <option value=" 5">5</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="exampleFormControlFile1"></label>
                                    <input type="file" class="form-control-file" (change)="uploadCandidateCv($event)" formControlName="file"  id="exampleFormControlFile1">
                                </div>

                                <!-- <div class="g-recaptcha" data-callback="verifyCallback"
                                    data-sitekey="6LeICboUAAAAADDflV69_ukVYEt_kr7K-P2AuwVo"
                                    style="transform:scale(0.79);-webkit-transform:scale(0.79);transform-origin:0 0;-webkit-transform-origin:0 0;">
                                    <div style="width: 304px; height: 78px;">
                                        <div><iframe title="reCAPTCHA"
                                                src="https://www.google.com/recaptcha/api2/anchor?ar=2&amp;k=6LeICboUAAAAADDflV69_ukVYEt_kr7K-P2AuwVo&amp;co=aHR0cHM6Ly93d3cuY29kaWFudC5jb206NDQz&amp;hl=en&amp;v=sG0iO6gHcGdWJzjJjW9AY49S&amp;size=normal&amp;cb=ba8xkolhd4az"
                                                width="304" height="78" role="presentation" name="a-dxmsnigx4g8w"
                                                frameborder="0" scrolling="no"
                                                sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"></iframe>
                                        </div><textarea id="g-recaptcha-response" name="g-recaptcha-response"
                                            class="g-recaptcha-response"
                                            style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea>
                                    </div><iframe style="display: none;"></iframe>
                               
                                </div> -->

                                <!-- <form [formGroup]="aFormGroup">
                                    <ngx-recaptcha2 #captchaElem>
                                    </ngx-recaptcha2>
                                  </form> -->



                                <button type="submit" class="theme-btn btn-white-orange" (click)="saveReactcandidate()">Submit</button>
                            </form>
                           

                        </div>
                    </div>
                </div>
            </div>
        </div>
      


    </div>
</section>
<app-footer-one></app-footer-one>