/* p{
        font-family: "Montserrat-Medium";
         font-size: 17px; 
         padding-top: 84px; 
        color: #000;
    } */

    .progress-bar-sec{
        margin-top: -10%;
    }
    .row {
        margin-right: -15px;
        margin-left: -15px;
    }
    .big_content{
    font-weight: 300;
        /* line-height: normal; */
        font-family: 'Dosis', sans-serif;
        font-size: 30px;
        margin-bottom: 20px;
    }
    .heading h6 {
        color: #000000;
    }
    .heading span {
        height: 3px;
        width: 15px;
        vertical-align: top;
        display: inline-block;
    }
    .red {
        background-color: #df002f;
        margin-right: 2px;
    }
    .black {
        background-color: #000000;
    }
    h6 {
        font-size: 25px;
    }
    .heading {
        margin-bottom: 30px;
        text-align: center;
    }
    h3{
        font-size: 23px;
    }
    *{
        font-family: 'Dosis', sans-serif;
        
    }
    .heading1{
        margin-bottom: 30px;
        text-align: center;
    }
   
    .form-control{
    
        width: 80%;
        margin-left: 9%;
    }
    p{
        text-align: justify;
    }
    h5{
        text-align: justify;
        font-weight: 600;
    }
    h4{
        font-weight: 600;
    }
    h5{
        text-align: justify;
        font-weight: 600;
    }
    li{
        text-align: justify;
    }
    ul li:before {
        content: "\f00c";
        font-family: Font Awesome\ 5 Pro;
        position: absolute;
        left: -15px;
        color: #007bff;
        font-weight: 500;
    }
    a{
        color: rgb(57, 57, 240);
    }
    .backcareer{
        color: black;
        margin-top: 4%;
     }

.width_of_input{
    width: 100%;
}

.file-upload-button {
    width: 90px;
  border: 1px solid black;
   background-color: blue;
   overflow: hidden;

}
 .file-info {
    color: #999;
    
    font-family: Lato;
    margin-left: 0.5rem;
  }
  
  .col-lg-8{
    padding: 25px 38px;
    line-height: 3vh;

  }
  .button{
      color: red;
  }

  /* label {
    background-color: indigo;
    color: white;
    padding: 0.5rem;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 1rem;
  } */
  
  /* #file-chosen{
    margin-left: 0.3rem;
    font-family: sans-serif;
  } */
  .files{
      /* top: 50%;
      left: 50%; */
      transform: translate(-50%,-50%);
    
      margin-left: 57%;
      
  }
  .upload-box{
      /* font-size: 16px;
      background: white;
      border-radius: 50px;
      box-shadow: 5px 5px 10px black;
      width: 350px;
      outline: none; */
      font-size: 16px;
      background: #95c3f5;
      border-radius: 50px;
      /* box-shadow: 5px 5px 10px black; */
      width: 250px;
      margin-top: 66%;
      margin-left: -93%;
      /* outline: none; */
      border: 1px solid #b0afaf;
      color: #363232;;

  }
  ::-webkit-file-upload-button{
      color: white;
      /* background: #206a5d; */
      background: #0e76a8;

      padding: 20px;
      border: none;
      border-radius: 50px;
      box-shadow: 1px 0 1px 1px #6b4559;
      outline: none;
  }
  ::-webkit-file-upload-button:hover{
      /* background: #438a5e; */
      background: #0a2fa8;

  }
  ul{
      padding: 12px;
  }
  h4{
      text-align:justify;
  }
  p{
    line-height: normal;
  }
  /* .custom-file-label::after {

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    height: calc(1.7em + 0.75rem);
    padding: 0.375rem 1.75rem;
    line-height: 1.5;
    margin-right: -1px;
    content: "Browse";
    background-color: #4f68ab;
    border-left: inherit;
    border-radius: 0 .25rem .25rem 0;
    border: 0px;
    color: #fff;
    font-weight: 700;
    border-radius: 99px;
  }
  
  .input-container {
    display: -ms-flexbox; 
    display: flex;
    width: 100%;
    margin-bottom: 15px;
    
  }


  

  
    */